1.WAS to print "Hello World" by using shell.

In [1]:
"Hello World"       # WAS to print "Hello World" using shell

'Hello World'

2.WAS to print "Hello World" usii=ng python print function.

In [2]:
print("Hello World")               # WAS to print "Hello World" using print function

Hello World

In [4]:
a="Hello World"
print(a)

Hello World

3.WAS to initialize variable and value as 50.

In [5]:
apple=50                  # to initialize variable and value as 50
apple

50

4.WAS to initialize multivariable value are 150,120,250(take your own variable names).

In [9]:
raja,rani,ravi=150,120,250                    # WAS to initialize multivalue variable are 150,120,150(take your own variables) 
print(ravi)
print(rani)
print(raja)

250
120
150

5.WAS to print the type of the data in the given value.

In [20]:
a=10
print(type(a))                      # WAS to print the type of the data in given value
b=10.05
print(type(b))
c=10+2j
print(type(c))
d=b'1010'
print(type(d))
e=True
print(type(e))
f=None
print(type(f))
g="hello"
print(type(g))
h=[10,30,40]
print(type(h))
i=(10,)
print(type(i))
j={10,20}
print(type(j))
k={"a":20}
print(type(k))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bytes'>
<class 'bool'>
<class 'NoneType'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

6.WAS to print the address of the memory block in given value.

In [25]:
a=10                    # WAS to print address of the memory block in given value
print(id(a))
b=10.05
print(id(b))
c=2+5j
print(id(c))
d=b'1010'
print(id(d))
e=True
print(id(e))
f="hello haii"
print(id(f))
g=[12,13]
print(id(g))
h=(10,12,14)
print(id(h))
i={76,45}
print(id(i))
j={"a":18}
print(id(j))
k=None
print(id(k))

140732981634120
2509948621552
2509948629872
2509949017120
140732980108136
2509948841456
2509948939008
2509948871936
2509948847264
2509949110400
140732980161736

7.WAS to print your details , first store your details , extract the values and display it.

In [26]:
name="dharani"                   # procedural programming (var concept)
age=22
phone="8328602360"
email="gottamdharani7626@gmail.com"
print(name,age,phone,email)

dharani 22 8328602360 gottamdharani7626@gmail.com

In [27]:
dharani=["dharani",22,8328602360,"gottamdharani7626@gmail.com"]       # predefined collectional datastrctures with list
dharani

['dharani', 22, 8328602360, 'gottamdharani7626@gmail.com']

In [35]:
dharani={"name":"dharani","age":22,"phone":8328602360,"mail":"gottamdharani7626@gmail.com","father name":"narasimharao"}     # with dict
print(dharani["father name"])
usha={"name":"usha","age":20,"phone":1234567890,"father name":"narasimharao","mail":"gottamusha@gmail.com"}
print(usha["father name"])

narasimharao
narasimharao

LIST RELATED PROBLEMS

* When ever we are storing the data there will be in a structured manner or unstructured manner 
* Fetch: we can't extract the accelerate data from list

8.WAS to swap the two values by using temp variable.

In [37]:
a="haii"                   # WAS to swap two values with a temp variable
b="byee"
temp=a
a=b
b=temp
print(a)
print(b)

byee
haii

9.WAS to swap the two values without using temp variable.

In [38]:
a=[10,20]                   # WAS to swap two values without using temp variable
b={12,14}
a,b=b,a
print(a)
print(b)

{12, 14}
[10, 20]

10.WAS to initialize a value and print the value,after print then reinitialize the new value to the existing variable and display the value.

In [43]:
a=180                      # initialize the value and print the value and after print the value                         
print(a)                       #  then reinitialize the new value to the existing var and display the value 
a=[10,23]
print(a)

180
[10, 23]

11.WAS to convert single to multi value datatype.

In [44]:
a=10                       # WAS to convert single value to multi value datatype
b=str(a)
print(b)
c=list(b)
print(c)

10
['1', '0']

12.WAS to concat the two multi value data types(str,list,tuple,dict).

In [1]:
x=[]
x+=["hello"]
print(x)

y=[]
y+=[10,30,24]
print(y)

z=[]
z+=(12,34,56)
print(z)

a=[]
a+={23,45,56}
print(a)

b=[]
b+={"a":10,"b":30}
print(b)

c=[]
c+=b"1010"
print(c)

['hello']
[10, 30, 24]
[12, 34, 56]
[56, 45, 23]
['a', 'b']
[49, 48, 49, 48]

In [48]:
a="dharani"
b="usha"
print(a)

c=a+b                    # forward concatenation using addition operation
print(c)

a+=b                     # compound arithmetic assignment/updated operator
print(a)
print(b)

a="raja"
b="rani"
c=b+a                    # backward concatenation 
print(c)

dharani
dharaniusha
dharaniusha
usha
raniraja

In [3]:
l=[10,20]
t=[30,40]
print(l,id(t))
print(t,id(t))

m=l+t           # forward/normal concatenation operation                                                                                           
print(m)
print(id(m))

l+=t            # compound assignment arithmetic operator          
print(l)
print(id(t))

[10, 20] 1972922176384
[30, 40] 1972922176384
[10, 20, 30, 40]
1972922433088
[10, 20, 30, 40]
1972922176384

13.WAC to perform the length of the collection.

In [21]:
a="dharani"
print(len(a))

print(len("hello"))

print(len({"a":10,"b":20,"c":30,"d":50,"e":40}))

print(len({12,13,12,14,15,16}))

print(len((19,34,56,78)))

7
5
5
5
4

14.WAC to find out the middle value of the given collection.

In [24]:
a="hello"
print(a[2])

print(a[len(a)//2])

b="haii"
print(b[len(b)//2])

l
l
i

15.WAC to concat the new string into the starting of the given string.

In [6]:
a="gottam"
b="dharani"
print(id(a))
print(id(b))
c=b+a            # using concatenation
print(c)

b+=a             # using compound assignment arithmetic operator     
print(b)
print(id(a))

1972922082416
1972899774896
dharanigottam
dharanigottam
1972922082416

23.WAS to modify  the  new character into the middle of the given string.

In [7]:
y="haii rama"
print(y[:len(y)//2]+"@"+y[(len(y)//2)+1:])

print(y[0:len(y)//2]+"@"+y[(len(y)//2):])

haii@rama
haii@ rama

16.WAS to concat the new string into the ending of the given string.

In [46]:
x="haii"
y="byee"
z=x+y
print(z)

x+=y
print(x)

haiibyee
haiibyee

17.WAS to concat the new string into the middle of the given string.

In [1]:
x="haii rama"
print(x[0:len(x)//2])
print(x[len(x)//2:])

print(x[:len(x)//2]+"good morning"+x[len(x)//2:])

x="haii rama"      # by using slicing
print(x[0:3+1:+1])
print(x[5:8+1:+1])
print(x[0:4]+"good morning"+x[4:])

haii
 rama
haiigood morning rama
haii
rama
haiigood morning rama

In [3]:
x="haii rama"

print(x[:len(x)//2]+"@"+x[len(x)//2:])
print(x[:len(x)//2]+"@"+x[len(x)//2:])

haii@ rama
haii@ rama

18.WAS to replace the old character into a new character of the given string.

In [3]:
# WAS to replace the old character into a new character of the given string.

st="PYSPIDERS"
print(st[:-3]+"Q"+st[-2:])
print(st[:6]+"Q"+st[7:])

PYSPIDQRS
PYSPIDQRS

In [4]:
st="PYSPIDERS"                         
res = st[:-3]+"Q"+st[-2:]
print(res)
temp=st[:6]+"Q"+st[7:]
print(temp)

PYSPIDQRS
PYSPIDQRS

19.WAS to delete the specific character in the string.

In [41]:
# WAS to delete the specific character in the string.

st="QSPIDERS"
res=st[:4]+st[4+1:]
print(res)

res=st[:-4]+st[-3:]
print(res)

QSPIERS
QSPIERS

20.WAS to delete the sequence of characters in the given string.
    i/p : st="QSPIDERS"
    O/P : QSRS

In [9]:
# WAS to delete the sequence of characters in the given string.
# i/p : st="QSPIDERS"
# O/P : QSRS
st="QSPIDERS"
res = st[:2]+st[6:]
print(res)

res = st[:2]+st[-2:]
print(res)

res = st[:-6]+st[-2:]
print(res)

res = st[:-6]+st[6:]
print(res)

QSRS
QSRS
QSRS
QSRS

21.WAS to concat the new string into the specific position of the given string.
        I/P : st="QSPIDERS"
        O/P : "QSPI123456DERS"

In [16]:
# WAS to concat the new string into the specific position of the given string.
# I/P : st="QSPIDERS"
# O/P : "QSPI123456DERS" 

st="QSPIDERS"
res=st[0:4]+"123456"+st[4:]
print(res)

st="QSPIDERS"
res=st[0:-4]+"123456"+st[-4:]
print(res)

# i/p : st="QSPIDERS"
# o/p : "SRED123456IPSQ"

st="QSPIDERS"
res=st[:3:-1]+"123456"+st[3::-1]
print(res)

st="QSPIDERS"
res=st[-1:-5:-1]+"123456"+st[-5::-1]
print(res)

QSPI123456DERS
QSPI123456DERS
SRED123456IPSQ
SRED123456IPSQ

22.WAS to concat the new value into the starting of the given list.

In [11]:
# WAS to concat the new value into the starting of the given list.

l=[10,20,30,50,"hello","haii"]
print(l,id(l))
t=[100,200]+l
print(t)

l=[10,20,30,50,"hello","haii"]   #wrong way
print(l,id(l))
t=[100,200]
t+=l
print(t)

l=[10,20,30,50,"hello","haii"] 
print(l,id(l))
l[0:0]=[100,200]
print(l,id(l))

[10, 20, 30, 50, 'hello', 'haii'] 2126012768576
[100, 200, 10, 20, 30, 50, 'hello', 'haii']
[10, 20, 30, 50, 'hello', 'haii'] 2126012766848
[100, 200, 10, 20, 30, 50, 'hello', 'haii']
[10, 20, 30, 50, 'hello', 'haii'] 2126012767680
[100, 200, 10, 20, 30, 50, 'hello', 'haii'] 2126012767680

23.WAS to concat the new value into the ending of the given list

In [13]:
# WAS to concat the new value into the ending of the given list

t=[10,20,30,50,"hello","haii"]      # this is normal concatenation
print(t,id(t))
t=t+[100,200]
print(t,id(t))

print("-*-"*20)

t=[10,20,30,50,"hello","haii"]   # compound assignment arithematic operator(address not changed)
print(t,id(t))
t+=[100,200]
print(t,id(t))

print("-*-"*20)

t=[10,20,30,50,"hello","haii"]    # by using list syntax to concat the specific position
print(t,id(t))
t[len(t):len(t)]=[100,200]
print(t,id(t))

print("-*-"*20)

t=[10,20,30,50,"hello","haii"]
print(t,id(t))
t[-1:-1]=[100,200]
print(t,id(t))

[10, 20, 30, 50, 'hello', 'haii'] 2126012943296
[10, 20, 30, 50, 'hello', 'haii', 100, 200] 2126012943680
-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-
[10, 20, 30, 50, 'hello', 'haii'] 2126012942784
[10, 20, 30, 50, 'hello', 'haii', 100, 200] 2126012942784
-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-
[10, 20, 30, 50, 'hello', 'haii'] 2126012943296
[10, 20, 30, 50, 'hello', 'haii', 100, 200] 2126012943296
-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-
[10, 20, 30, 50, 'hello', 'haii'] 2126012956288
[10, 20, 30, 50, 'hello', 100, 200, 'haii'] 2126012956288

24.WAS to concat the new value into the middle of the given list.

In [43]:
# WAS to concat the new value into the middle of the given list

y=[10,20,30,50,"hello","haii"]
print(y,id(y))
y=y[:len(y)//2]+["A","b"]+y[len(y)//2:]
print(y,id(y))


print("**********************************************"*2)

y=[10,20,30,50,"hello","haii"]
print(y,id(y))
y[:len(y)//2]:y[len(y)//2:]=['a','b']
print(y,id(y))

print("**********************************************"*2)

y=[10,20,30,50,"hello","haii"]
print(y,id(y))
y[len(y)//2]:[len(y)//2]=['a','b']
print(y,id(y))

print("**********************************************"*2)

[10, 20, 30, 50, 'hello', 'haii'] 2253628196800
[10, 20, 30, 'A', 'b', 50, 'hello', 'haii'] 2253628181696
********************************************************************************************
[10, 20, 30, 50, 'hello', 'haii'] 2253628197184
['a', 'b', 50, 'hello', 'haii'] 2253628197184
********************************************************************************************
[10, 20, 30, 50, 'hello', 'haii'] 2253628196800
[10, 20, 30, ['a', 'b'], 'hello', 'haii'] 2253628196800

25.WAS to modiffy the new value into the specific position of the given list.

In [38]:
# WAS to modify the new value into the specific position of the given list.

l=[10,20,"hello","a",'b',100,'haii',66]
print(l,id(l))
l[2]="hello world"
print(l,id(l))

[10, 20, 'hello', 'a', 'b', 100, 'haii', 66] 2253628260160
[10, 20, 'hello world', 'a', 'b', 100, 'haii', 66] 2253628260160

26.WAS to modify the sequence of new value into the specific position of the given list.

In [5]:
# WAS to modify the sequence of new value into the specific position of the list.


l=[10,20,"hello","a",'b',100,'haii',66]
print(l,id(l))
l[2:2]=["hello world","good bye"]
print(l,id(l))

[10, 20, 'hello', 'a', 'b', 100, 'haii', 66] 1259415748096
[10, 20, 'hello world', 'good bye', 'hello', 'a', 'b', 100, 'haii', 66] 1259415748096

27.WAS to modify the new values into the starting of the given list.

In [45]:
#WAS to modify the new value into the starting of the given list

l=[10,20,"hello","a","b",100,"haii",66]
print(l,id(l))
l[0]="dharani"
print(l,id(l))

[10, 20, 'hello', 'a', 'b', 100, 'haii', 66] 2253627826944
['dharani', 20, 'hello', 'a', 'b', 100, 'haii', 66] 2253627826944

28.WAS to modify the new values into the ending of the given list.

In [46]:
#WAS to modify the new value into the ending of the given list

l=[10,20,"hello","a","b",100,"haii",66]
print(l,id(l))
l[-1]="dharani"
print(l,id(l))

[10, 20, 'hello', 'a', 'b', 100, 'haii', 66] 2253628260160
[10, 20, 'hello', 'a', 'b', 100, 'haii', 'dharani'] 2253628260160

29.WAS to modify the new value into the middle of the given list.

In [5]:
#WAS to modify the new value into the middle of the given list

l=[10,20,"hello","a","b",100,"haii",66]
print(l,id(l))
l[len(l)//2:len(l)//2]=["hello world"]
print(l,id(l))

print("**********************************************"*2)

l=[10,20,"hello","a","b",100,"haii",66]
print(l,id(l))
l[len(l)//2]="hello world"
print(l,id(l))

print("**********************************************"*2)

l=[10,20,"hello","a","b",100,"haii",66]
print(l,id(l))
l[len(l)//2:len(l)//2]="hello world"
print(l,id(l))

[10, 20, 'hello', 'a', 'b', 100, 'haii', 66] 2565713720384
[10, 20, 'hello', 'a', 'hello world', 'b', 100, 'haii', 66] 2565713720384
********************************************************************************************
[10, 20, 'hello', 'a', 'b', 100, 'haii', 66] 2565713255168
[10, 20, 'hello', 'a', 'hello world', 100, 'haii', 66] 2565713255168
********************************************************************************************
[10, 20, 'hello', 'a', 'b', 100, 'haii', 66] 2565713716544
[10, 20, 'hello', 'a', 'hello world', 'b', 100, 'haii', 66] 2565713716544

28.WAS to modify the first 4 positions values into a given list.

In [1]:
l=[1,2,3,4,5,6]
print(l,id(l))
l[0:4]=['a','b','c','d']
print(l,id(l))

[1, 2, 3, 4, 5, 6] 2067547702848
['a', 'b', 'c', 'd', 5, 6] 2067547702848

29.WAS to del the value in the specific position of the given list.

In [3]:
l=[1,2,3,4,5,6]
print(l,id(l))
del l[3]
print(l,id(l))

[1, 2, 3, 4, 5, 6] 2067547530240
[1, 2, 3, 5, 6] 2067547530240
[1, 2, 3, 4, 5, 6] 2067547656640
[1, 2, 3, 4, 5] 2067547656640

30.WAS to del the new value into  the ending of the  list.

In [6]:
l=[1,2,3,4,5,6]
print(l,id(l))

del l[-1]
print(l,id(l))


l=[1,2,3,4,5,6]
print(l,id(l))

del l[len(l)-1]
print(l,id(l))

[1, 2, 3, 4, 5, 6] 2067547689792
[1, 2, 3, 4, 5] 2067547689792
[1, 2, 3, 4, 5, 6] 2067547656640
[1, 2, 3, 4, 5] 2067547656640

31.WAS to del the new value into  the middle of the  list.

In [7]:

l=[1,2,3,4,5,6]
print(l,id(l))

del l[len(l)//2]
print(l,id(l))

[1, 2, 3, 4, 5, 6] 2067553168128
[1, 2, 3, 5, 6] 2067553168128

31.WAS to del the new value into  the starting  of the  list.

In [13]:
l=[1,2,3,4,5,6]
print(l,id(l))

del l[-(len(l))]
print(l,id(l))

print("*******************************"*3)

l=[1,2,3,4,5,6]
print(l,id(l))

del l[0]
print(l,id(l))

[1, 2, 3, 4, 5, 6] 2067553338240
[2, 3, 4, 5, 6] 2067553338240
*********************************************************************************************
[1, 2, 3, 4, 5, 6] 2067547690368
[2, 3, 4, 5, 6] 2067547690368

WAS to delete the sequence of the values from the list.

In [12]:

l=[1,2,3,4,5,6]
print(l,id(l))
del l[0:4]
print(l,id(l))

print("*******************************"*3)

l=[1,2,3,4,5,6,'a','b','c','d','e']
print(l,id(l))
del l[4:0:-1]
print(l,id(l))

print("*******************************"*3)

l=[1,2,3,4,5,6,'a','b','c','d','e']
print(l,id(l))
del l[-1:-6:-1]
print(l,id(l))

[1, 2, 3, 4, 5, 6] 2067553327744
[5, 6] 2067553327744
*********************************************************************************************
[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd', 'e'] 2067553343296
[1, 6, 'a', 'b', 'c', 'd', 'e'] 2067553343296
*********************************************************************************************
[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd', 'e'] 2067553339456
[1, 2, 3, 4, 5, 6] 2067553339456

32.WAS to concat the new value into the starting of the tuple.

In [15]:
t=("hello","good","mornig","good night")
print(t,id(t))

t=("haii",)+t
print(t,id(t))

('hello', 'good', 'mornig', 'good night') 2067553482080
('haii', 'hello', 'good', 'mornig', 'good night') 2067553075040

33.WAS to concat the new value into the middle of the tuple.

In [47]:
t=("hello","good","morning","good night")
print(t,id(t))
t=t[:len(t)//2]+([10,20],)+t[len(t)//2:]
print(t,id(t))

('hello', 'good', 'morning', 'good night') 2067554713824
('hello', 'good', [10, 20], 'morning', 'good night') 2067554726864

34.WAS to concat the new value in to the ending of the  tuple.

In [27]:
t=("hello","good","morning","good night")
print(t,id(t))
t=t+("bye bye",)
print(t,id(t))

u=("hello","good","morning","good night")
print(u,id(u))
u+=("bye bye",)
print(u,id(u))

('hello', 'good', 'morning', 'good night') 2067554301920
('hello', 'good', 'morning', 'good night', 'bye bye') 2067554303520
('hello', 'good', 'morning', 'good night') 2067554301920
('hello', 'good', 'morning', 'good night', 'bye bye') 2067554301840

WAS to modify the values into the tuple.

In [37]:

#STARTING
x=('hello','good','morning','good night','bye','bye bye')
x=("haii",)+x[1:]
print(x)

#ENDING
x=('hello','good','morning','good night','bye','bye bye')
x=x[0:-1]+('good bye',)
print(x)

#SPECIFIC POSITION 
x=('hello','good','morning','good night','bye','bye bye')
x=x[0:2]+('afternoon',)+x[2+2:]
print(x)

#MIDDLE POSITION
x=('hello','good','morning','good night','bye','bye bye')
x=x[0:len(x)//2]+('afternoon',)+x[len(x)//2+1:]
print(x)

#SEQUENCE OF VALUES
x=('hello','good','morning','good night','bye','bye bye')
x=x[0:2]+([10,20],)+x[4:]
print(x)

('haii', 'good', 'morning', 'good night', 'bye', 'bye bye')
('hello', 'good', 'morning', 'good night', 'bye', 'good bye')
('hello', 'good', 'afternoon', 'bye', 'bye bye')
('hello', 'good', 'morning', 'afternoon', 'bye', 'bye bye')
('hello', 'good', [10, 20], 'bye', 'bye bye')

WAS to delete the values into the tuple.

In [10]:
#STARTING
x=('hello','good','morning','good night','bye','bye bye')
x=x[1:]
print(x)

print("--*--"*20)

#ENDING
x=('hello','good','morning','good night','bye','bye bye')
x=x[0:-1]
print(x)

print("--*--"*20)

#SPECIFIC POSITION 
x=('hello','good','morning','good night','bye','bye bye')
x=x[0:2]+x[2+2:]
print(x)

print("--*--"*20)

#MIDDLE POSITION
x=('hello','good','morning','good night','bye','bye bye')
x=x[0:len(x)//2]+x[len(x)//2+1:]
print(x)

print("--*--"*20)


#SEQUENCE OF VALUES
x=('hello','good','morning','good night','bye','bye bye')
x=x[0:2]+x[4:]
print(x)

('good', 'morning', 'good night', 'bye', 'bye bye')
--*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*--
('hello', 'good', 'morning', 'good night', 'bye')
--*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*--
('hello', 'good', 'bye', 'bye bye')
--*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*--
('hello', 'good', 'morning', 'bye', 'bye bye')
--*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*--
('hello', 'good', 'bye', 'bye bye')

WAS to perform set operations.

In [43]:
#union/concat

s={10,20,30,40}
t={20,50,60}
res=s|t
print(res)

#by using compound pipe symbol(union updation/concat/union)

s={10,20,30,40}
t={20,50,60}
s|=t
print(res)

#different/delete

s={10,20,30,40}
t={20}
res=s-t
print(res)

#difference update

s={10,20,30,40}
t={20}
s-=t
print(res)

{50, 20, 40, 10, 60, 30}
{50, 20, 40, 10, 60, 30}
{40, 10, 30}
{40, 10, 30}

WAS to concat the new key and value into the dict.

In [9]:
d={'a':10,'hello':'bye'}   #adding the single value key pair
print(d,id(d))
d['c']=30
print(d,id(d))

print("--*--"*20)

d={'a':10,'hello':'bye'}    #adding the multiple value key pairs
x={'apple':10,'bat':20,"ball":50}
print(d,id(d))
d|=x
print(d,id(d))

print("--*--"*20)


d={'a':10,'hello':'bye'}   #adding the single value key pair
print(d,id(d))
d['c']=30
print(d,id(d))

print("--*--"*20)

d={'apple':100,'hello':'bye'}    #adding the multiple value key pairs(using same key values)
x={'apple':200,'bat':'bye',"ball":50}
print(d,id(d))
d|=x
print(d,id(d))

{'a': 10, 'hello': 'bye'} 2565713761088
{'a': 10, 'hello': 'bye', 'c': 30} 2565713761088
--*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*--
{'a': 10, 'hello': 'bye'} 2565713763392
{'a': 10, 'hello': 'bye', 'apple': 10, 'bat': 20, 'ball': 50} 2565713763392
--*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*--
{'a': 10, 'hello': 'bye'} 2565713761088
{'a': 10, 'hello': 'bye', 'c': 30} 2565713761088
--*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*--
{'apple': 100, 'hello': 'bye'} 2565713760960
{'apple': 200, 'hello': 'bye', 'bat': 'bye', 'ball': 50} 2565713760960

#WAS to delete the specific key and value in the given dict.

In [8]:
d={'apple':200,'hello':'bye','bat':'bye','ball':60}  # for del single key
print(d,id(d))
del d['ball']
print(d,id(d))

print("--*--"*20)

d={'apple':200,'hello':'bye','bat':'bye','ball':60}   # for del no of keys
print(d,id(d))
del [d['ball'],d['apple']]
print(d,id(d))

{'apple': 200, 'hello': 'bye', 'bat': 'bye', 'ball': 60} 2565713275200
{'apple': 200, 'hello': 'bye', 'bat': 'bye'} 2565713275200
--*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*--
{'apple': 200, 'hello': 'bye', 'bat': 'bye', 'ball': 60} 2565713277696
{'hello': 'bye', 'bat': 'bye'} 2565713277696

WAS to modify the specific value in the given dict.

In [7]:
d={'apple':200,'hello':'bye','bat':'bye','ball':60}   # for del no of keys
print(d,id(d))

d["apple"]=1500
print(d,id(d))

print("--*--"*20)

d={'apple':200,'hello':'bye','bat':'bye','ball':60}   # for del no of keys
t={'apple':1500,'hello':'hello world'}
print(d,id(d))
del [d['ball'],d['apple']]
print(d,id(d))

{'apple': 200, 'hello': 'bye', 'bat': 'bye', 'ball': 60} 2565713276032
{'apple': 1500, 'hello': 'bye', 'bat': 'bye', 'ball': 60} 2565713276032
--*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*--
{'apple': 200, 'hello': 'bye', 'bat': 'bye', 'ball': 60} 2565713711360
{'hello': 'bye', 'bat': 'bye'} 2565713711360

41.WAS to concat the list value and tuple value by using type casting.

In [7]:
l=[10,20,30,40]
j=("A","b","c","d")
res=l+list(j)
print(res)

print("--*--"*20)


l=[10,20,30,40]
j=("A","b","c","d")
res=tuple(l)+(j)
print(res)

print("--*--"*20)

l=[10,20,30,40]
j=("A","b","c","d")
l+=list(j)
print(l)

print("--*--"*20)

l=[10,20,30,40]
j=("A","b","c","d")
j+=tuple(l)
print(j)

print("--*--"*20)

[10, 20, 30, 40, 'A', 'b', 'c', 'd']
--*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*--
(10, 20, 30, 40, 'A', 'b', 'c', 'd')
--*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*--
[10, 20, 30, 40, 'A', 'b', 'c', 'd']
--*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*--
('A', 'b', 'c', 'd', 10, 20, 30, 40)
--*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*--

42.WAS to concat the list value and tuple value with out type casting.

In [9]:
l=['a','b','c','d']
t=(1,2,3,4,5,6)
l+=t
print(l)

l=['a','b','c','d']
t=(1,2,3,4,5,6)
t+=l
print(l)

['a', 'b', 'c', 'd', 1, 2, 3, 4, 5, 6]

TypeError: can only concatenate tuple (not "list") to tuple

43.WAS to the given number is divisible by 3.

In [11]:
n=15
res=n%3==0
print(res)

n=19
res=n%3==0
print(res)

True
False

44.WAS to the given number is divisible by 2 and 6.

In [14]:
n=16
d=n%2==0 and n%6==0
print(d)

n=24
d=n%2==0 and n%6==0
print(d)

False
True

45.WAp to extract the last digit from given last integer number .(with out using typecasting).

In [15]:
n=1569
res=(n%10)
print(res)

n=1569
res=(n%100)
print(res)

n=1569
res=(n%1000)
print(res)

n=1569
res=(n%10000)
print(res)

9
69
569
1569

46.WAP to eliminate last digit from the given list.

In [19]:
n=1569
res=(n//10)
print(res)

n=1569
res=(n//100)
print(res)

n=1569
res=(n//1000)
print(res)

n=1569
res=(n//10000)
print(res)

156
15
1
0

47.WAS to extract the last second digit from given integer number.(with out typecasting)

In [21]:
n=1879
res=(n%100)//10
print(res)

n=1879
res=(n%1000)//100
print(res) 

n=1879
res=(n%10000)//1000
print(res)

7
8
1

48.WAS to the given number , the last digit is divisible by 3.(don't use typecasting)

In [22]:
n=1569
res=((n%10)%3)==0
print(res)

True

49.WAS to the given number , the last digit is divisible by 3.(with typecasting)

In [23]:
n=1569
res=int(str(n)[-1])
print(res,type(res))

res1=int(str(n)[-1])
print(res1,type(res1))

res1=(int(str(n)[-1])%3)==0
print(res1,type(res1))

9 <class 'int'>
9 <class 'int'>
True <class 'bool'>