1.WAS to print "Hello World" by using shell.

In [1]:
"Hello World"       # WAS to print "Hello World" using shell

'Hello World'

2.WAS to print "Hello World" usii=ng python print function.

In [2]:
print("Hello World")               # WAS to print "Hello World" using print function

Hello World

In [4]:
a="Hello World"
print(a)

Hello World

3.WAS to initialize variable and value as 50.

In [5]:
apple=50                  # to initialize variable and value as 50
apple

50

4.WAS to initialize multivariable value are 150,120,250(take your own variable names).

In [9]:
raja,rani,ravi=150,120,250                    # WAS to initialize multivalue variable are 150,120,150(take your own variables) 
print(ravi)
print(rani)
print(raja)

250
120
150

5.WAS to print the type of the data in the given value.

In [20]:
a=10
print(type(a))                      # WAS to print the type of the data in given value
b=10.05
print(type(b))
c=10+2j
print(type(c))
d=b'1010'
print(type(d))
e=True
print(type(e))
f=None
print(type(f))
g="hello"
print(type(g))
h=[10,30,40]
print(type(h))
i=(10,)
print(type(i))
j={10,20}
print(type(j))
k={"a":20}
print(type(k))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bytes'>
<class 'bool'>
<class 'NoneType'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

6.WAS to print the address of the memory block in given value.

In [25]:
a=10                    # WAS to print address of the memory block in given value
print(id(a))
b=10.05
print(id(b))
c=2+5j
print(id(c))
d=b'1010'
print(id(d))
e=True
print(id(e))
f="hello haii"
print(id(f))
g=[12,13]
print(id(g))
h=(10,12,14)
print(id(h))
i={76,45}
print(id(i))
j={"a":18}
print(id(j))
k=None
print(id(k))

140732981634120
2509948621552
2509948629872
2509949017120
140732980108136
2509948841456
2509948939008
2509948871936
2509948847264
2509949110400
140732980161736

7.WAS to print your details , first store your details , extract the values and display it.

In [26]:
name="dharani"                   # procedural programming (var concept)
age=22
phone="8328602360"
email="gottamdharani7626@gmail.com"
print(name,age,phone,email)

dharani 22 8328602360 gottamdharani7626@gmail.com

In [27]:
dharani=["dharani",22,8328602360,"gottamdharani7626@gmail.com"]       # predefined collectional datastrctures with list
dharani

['dharani', 22, 8328602360, 'gottamdharani7626@gmail.com']

In [35]:
dharani={"name":"dharani","age":22,"phone":8328602360,"mail":"gottamdharani7626@gmail.com","father name":"narasimharao"}     # with dict
print(dharani["father name"])
usha={"name":"usha","age":20,"phone":1234567890,"father name":"narasimharao","mail":"gottamusha@gmail.com"}
print(usha["father name"])

narasimharao
narasimharao

LIST RELATED PROBLEMS

* When ever we are storing the data there will be in a structured manner or unstructured manner 
* Fetch: we can't extract the accelerate data from list

8.WAS to swap the two values by using temp variable.

In [37]:
a="haii"                   # WAS to swap two values with a temp variable
b="byee"
temp=a
a=b
b=temp
print(a)
print(b)

byee
haii

9.WAS to swap the two values without using temp variable.

In [38]:
a=[10,20]                   # WAS to swap two values without using temp variable
b={12,14}
a,b=b,a
print(a)
print(b)

{12, 14}
[10, 20]

10.WAS to initialize a value and print the value,after print then reinitialize the new value to the existing variable and display the value.

In [43]:
a=180                      # initialize the value and print the value and after print the value                         
print(a)                       #  then reinitialize the new value to the existing var and display the value 
a=[10,23]
print(a)

180
[10, 23]

11.WAS to convert single to multi value datatype.

In [44]:
a=10                       # WAS to convert single value to multi value datatype
b=str(a)
print(b)
c=list(b)
print(c)

10
['1', '0']

12.WAS to concat the two multi value data types(str,list,tuple,dict).

In [50]:
x=[]
x+="hello"
print(x)

y=[]
y+=[10,30,24]
print(y)

z=[]
z+=(12,34,56)
print(z)

a=[]
a+={23,45,56}
print(a)

b=[]
b+={"a":10,"b":30}
print(b)

c=[]
c+=b"1010"
print(c)

['h', 'e', 'l', 'l', 'o']
[10, 30, 24]
[12, 34, 56]
[56, 45, 23]
['a', 'b']
[49, 48, 49, 48]

In [48]:
a="dharani"
b="usha"
print(a)

c=a+b                    # forward concatenation using addition operation
print(c)

a+=b                     # compound arithmetic assignment/updated operator
print(a)
print(b)

a="raja"
b="rani"
c=b+a                    # backward concatenation 
print(c)

dharani
dharaniusha
dharaniusha
usha
raniraja

In [1]:
l=[10,20]
t=[30,40]
print(l)
print(t)

m=l+t           # forward/normal concatenation operation                                                                                           
print(m)

l+=t            # compound assignment arithmetic operator          
print(l)

[10, 20]
[30, 40]
[10, 20, 30, 40]
[10, 20, 30, 40]

13.WAC to perform the length of the collection.

In [21]:
a="dharani"
print(len(a))

print(len("hello"))

print(len({"a":10,"b":20,"c":30,"d":50,"e":40}))

print(len({12,13,12,14,15,16}))

print(len((19,34,56,78)))

7
5
5
5
4

14.WAC to find out the middle value of the given colleection.

In [24]:
a="hello"
print(a[2])

print(a[len(a)//2])

b="haii"
print(b[len(b)//2])

l
l
i

15.WAC to concat the new string into the starting of the given string.

In [26]:
a="gottam"
b="dharani"
c=b+a            # using concatenation
print(c)

b+=a             # using compound assignment arithmetic operator     
print(b)

dharanigottam
dharanigottam

23.WAS to modify  the  new character into the middle of the given string.

In [61]:
y="haii rama"
print(y[0:len(y)//2]+"@"+y[(len(y)//2)+1:])

print(y[0:len(y)//2]+"@"+y[(len(y)//2):])

haii@rama
haii@ rama

16.WAS to concat the new string into the ending of the given string.

In [46]:
x="haii"
y="byee"
z=x+y
print(z)

x+=y
print(x)

haiibyee
haiibyee

17.WAS to concat the new string into the middle of the given string.

In [45]:
x="haii rama"
print(x[0:len(x)//2])
x
print(x[len(x)//2:])

print(x[0:len(x)//2]+"good morning"+x[len(x)//2:])

haii
 rama
haiigood morning rama

In [60]:
x="haii rama"

print(x[0:len(x)//2]+"@"+x[len(x)//2:])

haii@ rama

18.WAS to replace the old character into a new character of the given string.

In [3]:
# WAS to replace the old character into a new character of the given string.

st="PYSPIDERS"
print(st[:-3]+"Q"+st[-2:])
print(st[:6]+"Q"+st[7:])

PYSPIDQRS
PYSPIDQRS

In [4]:
st="PYSPIDERS"                         
res = st[:-3]+"Q"+st[-2:]
print(res)
temp=st[:6]+"Q"+st[7:]
print(temp)

PYSPIDQRS
PYSPIDQRS

19.WAS to delete the specific character in the string.

In [41]:
# WAS to delete the specific character in the string.

st="QSPIDERS"
res=st[:4]+st[4+1:]
print(res)

res=st[:-4]+st[-3:]
print(res)

QSPIERS
QSPIERS

20.WAS to delete the sequence of characters in the given string.
    i/p : st="QSPIDERS"
    O/P : QSRS

In [8]:
# WAS to delete the sequence of characters in the given string.
# i/p : st="QSPIDERS"
# O/P : QSRS

res = st[:2]+st[6:]
print(res)

res = st[:2]+st[-2:]
print(res)

res = st[:-6]+st[-2:]
print(res)

res = st[:-6]+st[6:]
print(res)

QSRS
QSRS
QSRS
QSRS

21.WAS to concat the new string into the specific position of the given string.
        I/P : st="QSPIDERS"
        O/P : "QSPI123456DERS"

In [16]:
# WAS to concat the new string into the specific position of the given string.
# I/P : st="QSPIDERS"
# O/P : "QSPI123456DERS" 

st="QSPIDERS"
res=st[0:4]+"123456"+st[4:]
print(res)

st="QSPIDERS"
res=st[0:-4]+"123456"+st[-4:]
print(res)

# i/p : st="QSPIDERS"
# o/p : "SRED123456IPSQ"

st="QSPIDERS"
res=st[:3:-1]+"123456"+st[3::-1]
print(res)

st="QSPIDERS"
res=st[-1:-5:-1]+"123456"+st[-5::-1]
print(res)

QSPI123456DERS
QSPI123456DERS
SRED123456IPSQ
SRED123456IPSQ

22.WAS to concat the new value into the starting of the given string.

In [29]:
# WAS to concat the new value into the starting of the given string.

l=[10,20,30,50,"hello","haii"]
print(l,id(l))
t+=l=[100,200]+l
print(l)


# we are storing the values in t (wrong way)

l=[10,20,30,50,"hello","haii"]                  # it is wrong way to concat the string
print(t,id(t))
t=[100,200]
t+=l
print(t)

# adding value using specific position

l=[10,20,30,50,"hello","haii"]
print(l,id(l))
l[0:0]=[100,200]
print(l)

l=[10,20,30,50,"hello","haii"] 
print(l,id(1))
l[0:0]=[100,200]
print(l,id(l))

[10, 20, 30, 50, 'hello', 'haii'] 2253627692096
[100, 200, 10, 20, 30, 50, 'hello', 'haii']
[10, 20, 30, 50, 'hello', 100, 200, 'haii'] 2253627832320
[100, 200, 10, 20, 30, 50, 'hello', 'haii']
[10, 20, 30, 50, 'hello', 'haii'] 2253627828032
[100, 200, 10, 20, 30, 50, 'hello', 'haii']
[10, 20, 30, 50, 'hello', 'haii'] 140733099008808
[100, 200, 10, 20, 30, 50, 'hello', 'haii'] 2253627831232

23.WAS to concat the new value into the ending of the given list

In [28]:
# WAS to concat the new value into the ending of the given list

t=[10,20,30,50,"hello","haii"]      # this is normal concatenation
print(t,id(t))
t=t+[100,200]
print(t,id(t))

t=[10,20,30,50,"hello","haii"]   # compound assignment arithematic operator(address not changed)
print(t,id(t))
t+=[100,200]
print(t,id(t))

t=[10,20,30,50,"hello","haii"]    # by using list syntax to concat the specific position
print(t,id(t))
t[len(t):len(t)]=[100,200]
print(t,id(t))


t=[10,20,30,50,"hello","haii"]
print(t,id(t))
t[-1:-1]=[100,200]
print(t,id(t))

[10, 20, 30, 50, 'hello', 'haii'] 2253627832000
[10, 20, 30, 50, 'hello', 'haii', 100, 200] 2253627753984
[10, 20, 30, 50, 'hello', 'haii'] 2253627832320
[10, 20, 30, 50, 'hello', 'haii', 100, 200] 2253627832320
[10, 20, 30, 50, 'hello', 'haii'] 2253627753984
[10, 20, 30, 50, 'hello', 'haii', 100, 200] 2253627753984
[10, 20, 30, 50, 'hello', 'haii'] 2253627832320
[10, 20, 30, 50, 'hello', 100, 200, 'haii'] 2253627832320

24.WAS to concat the new value into the middle of the given list.

In [43]:
# WAS to concat the new value into the middle of the given list

y=[10,20,30,50,"hello","haii"]
print(y,id(y))
y=y[:len(y)//2]+["A","b"]+y[len(y)//2:]
print(y,id(y))


print("**********************************************"*2)

y=[10,20,30,50,"hello","haii"]
print(y,id(y))
y[:len(y)//2]:y[len(y)//2:]=['a','b']
print(y,id(y))

print("**********************************************"*2)

y=[10,20,30,50,"hello","haii"]
print(y,id(y))
y[len(y)//2]:[len(y)//2]=['a','b']
print(y,id(y))

print("**********************************************"*2)

[10, 20, 30, 50, 'hello', 'haii'] 2253628196800
[10, 20, 30, 'A', 'b', 50, 'hello', 'haii'] 2253628181696
********************************************************************************************
[10, 20, 30, 50, 'hello', 'haii'] 2253628197184
['a', 'b', 50, 'hello', 'haii'] 2253628197184
********************************************************************************************
[10, 20, 30, 50, 'hello', 'haii'] 2253628196800
[10, 20, 30, ['a', 'b'], 'hello', 'haii'] 2253628196800

25.WAS to modiffy the new value into the specific position of the given list.

In [38]:
# WAS to modify the new value into the specific position of the given list.

l=[10,20,"hello","a",'b',100,'haii',66]
print(l,id(l))
l[2]="hello world"
print(l,id(l))

[10, 20, 'hello', 'a', 'b', 100, 'haii', 66] 2253628260160
[10, 20, 'hello world', 'a', 'b', 100, 'haii', 66] 2253628260160

26.WAS to modify the sequence of new values into the specific position of the given list.

In [39]:
# WAS to modify the sequence of new values into the specific position of the list.


l=[10,20,"hello","a",'b',100,'haii',66]
print(l,id(l))
l[2:2]=["hello world","good bye"]
print(l,id(l))

[10, 20, 'hello', 'a', 'b', 100, 'haii', 66] 2253628238336
[10, 20, 'hello world', 'good bye', 'hello', 'a', 'b', 100, 'haii', 66] 2253628238336

27.WAS to modify the new values into the starting of the given list.

In [45]:
#WAS to modify the new value into the starting of the given list

l=[10,20,"hello","a","b",100,"haii",66]
print(l,id(l))
l[0]="dharani"
print(l,id(l))

[10, 20, 'hello', 'a', 'b', 100, 'haii', 66] 2253627826944
['dharani', 20, 'hello', 'a', 'b', 100, 'haii', 66] 2253627826944

28.WAS to modify the new values into the ending of the given list.

In [46]:
#WAS to modify the new value into the ending of the given list

l=[10,20,"hello","a","b",100,"haii",66]
print(l,id(l))
l[-1]="dharani"
print(l,id(l))

[10, 20, 'hello', 'a', 'b', 100, 'haii', 66] 2253628260160
[10, 20, 'hello', 'a', 'b', 100, 'haii', 'dharani'] 2253628260160

29.WAS to modify the new value into the middle of the given list.

In [44]:
#WAS to modify the new value into the middle of the given list

l=[10,20,"hello","a","b",100,"haii",66]
print(l,id(l))
l[len(l)//2:len(l)//2]=["hello world"]
print(l,id(l))

print("**********************************************"*2)

l=[10,20,"hello","a","b",100,"haii",66]
print(l,id(l))
l[len(l)//2]="hello world"
print(l,id(l))

print("**********************************************"*2)

l=[10,20,"hello","a","b",100,"haii",66]
print(l,id(l))
l[len(l)//2:len(l)//2]="hello world"
print(l,id(l))

[10, 20, 'hello', 'a', 'b', 100, 'haii', 66] 2307250442368
[10, 20, 'hello', 'a', 'hello world', 'b', 100, 'haii', 66] 2307250442368
********************************************************************************************
[10, 20, 'hello', 'a', 'b', 100, 'haii', 66] 2307250442048
[10, 20, 'hello', 'a', 'hello world', 100, 'haii', 66] 2307250442048
********************************************************************************************
[10, 20, 'hello', 'a', 'b', 100, 'haii', 66] 2307250444864
[10, 20, 'hello', 'a', 'h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', 'b', 100, 'haii', 66] 2307250444864