In [31]:
l=[10,20,"hello","haii","abc"]   # modification of ending element
l[-1]="dharani"
print(l)

l=[10,20,"hello","haii","abc"]  # modification of ending element
l[0]="usha"
print(l)

l=[10,20,"hello","haii","abc"]   # modification of middle element
l[len(l)//2:len(l)//2]=["shobha"]
print(l)

[10, 20, 'hello', 'haii', 'dharani']
['usha', 20, 'hello', 'haii', 'abc']
[10, 20, 'shobha', 'hello', 'haii', 'abc']

In [27]:
l=[10,20,"hello","haii","abc"]   # concatenate ending of the given list
l[5:5]=["dharani"]
print(l)

l[0:0]=["durga"]                 # concatenate starting of the given list
print(l)
print(id(l))

l=[10,20,"hello","haii","abc","123"]   # concatenate middle of the given list
l=l[:len(l)//2]+["priya"]+l[len(l)//2:]
print(l)
print(id(l))

[10, 20, 'hello', 'haii', 'abc', 'dharani']
['durga', 10, 20, 'hello', 'haii', 'abc', 'dharani']
1535318412352
[10, 20, 'hello', 'priya', 'haii', 'abc', '123']
1535318418688

In [40]:
l=[10,20,"hello","haii","abc"]   # del of starting element
del l[0]
print(l)

l=[10,20,"hello","haii","abc"]   # del of ending element
del l[-1]
print(l)

l=[10,20,"hello","haii","abc"]   # del of the middle element
del l[len(l)//2]
print(l)

[20, 'hello', 'haii', 'abc']
[10, 20, 'hello', 'haii']
[10, 20, 'haii', 'abc']

1.

In [1]:
a="Hello World"
print(a)

Hello World

In [ ]:
2.

In [2]:
print("Hello World")

Hello World

3.

In [3]:
a=50
print(a)

50

4.

In [5]:
a=150
b=120
c=250
print(a)
print(b)
print(c)

150
120
250

5.

In [7]:
a="dharani"
print(type(a))

b=10
print(type(b))

<class 'str'>
<class 'int'>

6.

In [9]:
a=10
print(id(10))
print(id(a))

140731719476296
140731719476296

7.

In [13]:
name ="Dharani"
age = 22
mail = "gottamdharani7626@gmail.com"
print(name)
print(age)
print(mail)

Dharani
22
gottamdharani7626@gmail.com

8.

In [14]:
a=10
b=20
c=a
a=b
b=c
print(a)
print(b)

20
10

9.

In [15]:
a=10
b=20
a,b=b,a
print(a)
print(b)

20
10

10.

In [17]:
c=20
print(c)
c=100
print(c)

20
100

11.

In [21]:
a=10
b=str(a)
print(b)
c=list(b)
print(c)

10
['1', '0']

12.

In [ ]:
a ="dharani"

In [1]:
t=(12,"dharani",45.56,12,90,"usha",[13,34,35],"durga")
print(t)
t=t[:len(t)//2]+("priyanka",)+t[len(t)//2:]
print(t)

t=t+("sumathi",)
print(t)

(12, 'dharani', 45.56, 12, 90, 'usha', [13, 34, 35], 'durga')
(12, 'dharani', 45.56, 12, 'priyanka', 90, 'usha', [13, 34, 35], 'durga')
(12, 'dharani', 45.56, 12, 'priyanka', 90, 'usha', [13, 34, 35], 'durga', 'sumathi')

In [4]:
st="Dharani"  
st[:3]+"RA"+st[5:]

'DhaRAni'

In [16]:
st="dharani"  
print(st[:2]+"123456"+st[6:])
print(st[:2]+"b"+st[2+1:])
print(st[:5+1:+1])
print(st[2::+1])
print(st[:2]+st[2+1:])
print(st[:2]+st[4:])

dh123456i
dhbrani
dharan
arani
dhrani
dhani

In [20]:
st="hello world"
print(st[:5]+"12345"+st[5+1:])

hello12345world

In [27]:
l=[10,20,30,40,50]
print(l[0])
print(l[2:3+1:+1])
print(l)
l[3:3]=[100]
print(l)

10
[30, 40]
[10, 20, 30, 40, 50]
[10, 20, 30, 100, 40, 50]

In [1]:
l=[10,10,20,20,30,40,50,50]
res=list(set(l))
print(res)

[40, 10, 50, 20, 30]

In [4]:
l=[10,10,20,20,30,40,50,50]
res=[]
for i in l:
    if i not in res:
        res+=[i]
    print(res)

[10]
[10]
[10, 20]
[10, 20]
[10, 20, 30]
[10, 20, 30, 40]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]

In [7]:
st="dharani"  
print(st[::-1])
print(st[::+1])
print(st[3::+1])
print(st[3::-1])
print(st[::+2])
print(st[::-2])

inarahd
dharani
rani
rahd
daai
iaad

In [13]:
st="dharani"  
print(st[:2]+"12345"+st[2:])
print(st[:2]+"12345"+st[2+1:])
print(st[:2]+"12345"+st[5:])

dh12345arani
dh12345rani
dh12345ni

In [22]:
st="dharani"
print(st[:3]+st[7:])

dha

In [24]:
st="dharani"
print(st[::-1])

st="dharani"
start=-1
end=-len(st)
while start>=end:
    print(st[start],end="")
    start-=1

inarahd
inarahd

In [38]:
l=[10,20,30,40,50,["apple","banana"]]
print(l)

m=l.copy()
print(m)
l[0:0]=[100,200]
print(l)
print(m)
m[5][0]=["grapes"]
print(l)
print(m)

[10, 20, 30, 40, 50, ['apple', 'banana']]
[10, 20, 30, 40, 50, ['apple', 'banana']]
[100, 200, 10, 20, 30, 40, 50, ['apple', 'banana']]
[10, 20, 30, 40, 50, ['apple', 'banana']]
[100, 200, 10, 20, 30, 40, 50, [['grapes'], 'banana']]
[10, 20, 30, 40, 50, [['grapes'], 'banana']]

In [55]:
l=[10,20,30,40,50,["apple","banana"],("dharani","usha")]
print(l)
import copy
m=copy.deepcopy(l)
print(m)
l[0:0]=[100,200]
print(l)
print(m)
m[5][0]="grapes"
print(l)
print(m)

l[6][0]="narasimha sumathi"
print(l)
print(m)

[10, 20, 30, 40, 50, ['apple', 'banana'], ('dharani', 'usha')]
[10, 20, 30, 40, 50, ['apple', 'banana'], ('dharani', 'usha')]
[100, 200, 10, 20, 30, 40, 50, ['apple', 'banana'], ('dharani', 'usha')]
[10, 20, 30, 40, 50, ['apple', 'banana'], ('dharani', 'usha')]
[100, 200, 10, 20, 30, 40, 50, ['apple', 'banana'], ('dharani', 'usha')]
[10, 20, 30, 40, 50, ['grapes', 'banana'], ('dharani', 'usha')]

TypeError: 'int' object does not support item assignment

NameError: name 'copy' is not defined

In [6]:
str="the quick brown fox jumps over the lazy dog"
alpha="abcdefghijklmnopqrstuvwxyz"
for str in alpha:
    if str not in alpha:
        print("not a pangram")
else:
    print("pangram")

pangram

In [16]:
str="DHARANI"
alpha="abcdefghijklmnopqrstuvwxyz"
for str in alpha:
    if str not in alpha:
        print("not a pangram")
#else:
 #   print("pangram")

In [48]:
str="DHAraNI"
count=0
count1=0
for i in str:
    if (i.islower()):
        count+=1    
    elif(i.isupper()):
        count1+=1 
print("uppercase",count)
print("lowercase",count1)

uppercase 2
lowercase 5

In [46]:
str="dharani"
start=0
count=0
count1=0
for i in str:
    if "A"<=str[start]<="Z":
        count+=1    
    elif "a"<=str[start]<="z":
        count1+=1 
print("uppercase",count)
print("lowercase",count1)

uppercase 0
lowercase 7

In [41]:
str="DhaRaNI"
start=0
count=0
count1=0
while start<len(str):
    if "A"<=str[start]<="Z":
        count+=1   
    elif "a"<=str[start]<="z":
        count1+=1
    start+=1
print("uppercase",count)   
print("lowercase",count1)

uppercase 4
lowercase 3

In [54]:
st="Dharani"   
start=0
for i in st:
    if start%2==0:
        print(st[start],end="")
    start+=1

Daai

In [64]:
st="dharani"
def st(coll,start=0):
    for i in st:
        return start
if start%2==0:
    print(st,start+1)

In [73]:
l=["apple","dharani","usha","mango"]
max1=len(l[0])
temp=l[0]
for i in l:
    if(len(i)>max1):
       max1=len(i)
       temp=i
print("longest word length is:",end="")
print(temp)

longest word length is:dharani

In [74]:
l=["apple","dharani","usha","mango"]
max1=len(l[0])
temp=l[0]
for i in l:
    if(len(i)<max1):
       max1=len(i)
       temp=i
print("longest word length is:",end="")
print(temp)

longest word length is:usha

In [ ]:
l=[10,20,30]