1.WAS to print "Hello World" by using shell.

In [1]:
"Hello World"       # WAS to print "Hello World" using shell

'Hello World'

2.WAS to print "Hello World" usii=ng python print function.

In [2]:
print("Hello World")               # WAS to print "Hello World" using print function

Hello World

In [4]:
a="Hello World"
print(a)

Hello World

3.WAS to initialize variable and value as 50.

In [5]:
apple=50                  # to initialize variable and value as 50
apple

50

4.WAS to initialize multivariable value are 150,120,250(take your own variable names).

In [9]:
raja,rani,ravi=150,120,250                    # WAS to initialize multivalue variable are 150,120,150(take your own variables) 
print(ravi)
print(rani)
print(raja)

250
120
150

5.WAS to print the type of the data in the given value.

In [20]:
a=10
print(type(a))                      # WAS to print the type of the data in given value
b=10.05
print(type(b))
c=10+2j
print(type(c))
d=b'1010'
print(type(d))
e=True
print(type(e))
f=None
print(type(f))
g="hello"
print(type(g))
h=[10,30,40]
print(type(h))
i=(10,)
print(type(i))
j={10,20}
print(type(j))
k={"a":20}
print(type(k))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bytes'>
<class 'bool'>
<class 'NoneType'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

6.WAS to print the address of the memory block in given value.

In [25]:
a=10                    # WAS to print address of the memory block in given value
print(id(a))
b=10.05
print(id(b))
c=2+5j
print(id(c))
d=b'1010'
print(id(d))
e=True
print(id(e))
f="hello haii"
print(id(f))
g=[12,13]
print(id(g))
h=(10,12,14)
print(id(h))
i={76,45}
print(id(i))
j={"a":18}
print(id(j))
k=None
print(id(k))

140732981634120
2509948621552
2509948629872
2509949017120
140732980108136
2509948841456
2509948939008
2509948871936
2509948847264
2509949110400
140732980161736

7.WAS to print your details , first store your details , extract the values and display it.

In [26]:
name="dharani"                   # procedural programming (var concept)
age=22
phone="8328602360"
email="gottamdharani7626@gmail.com"
print(name,age,phone,email)

dharani 22 8328602360 gottamdharani7626@gmail.com

In [27]:
dharani=["dharani",22,8328602360,"gottamdharani7626@gmail.com"]       # predefined collectional datastrctures with list
dharani

['dharani', 22, 8328602360, 'gottamdharani7626@gmail.com']

In [35]:
dharani={"name":"dharani","age":22,"phone":8328602360,"mail":"gottamdharani7626@gmail.com","father name":"narasimharao"}     # with dict
print(dharani["father name"])
usha={"name":"usha","age":20,"phone":1234567890,"father name":"narasimharao","mail":"gottamusha@gmail.com"}
print(usha["father name"])

narasimharao
narasimharao

LIST RELATED PROBLEMS

* When ever we are storing the data there will be in a structured manner or unstructured manner 
* Fetch: we can't extract the accelerate data from list

8.WAS to swap the two values by using temp variable.

In [37]:
a="haii"                   # WAS to swap two values with a temp variable
b="byee"
temp=a
a=b
b=temp
print(a)
print(b)

byee
haii

9.WAS to swap the two values without using temp variable.

In [38]:
a=[10,20]                   # WAS to swap two values without using temp variable
b={12,14}
a,b=b,a
print(a)
print(b)

{12, 14}
[10, 20]

10.WAS to initialize a value and print the value,after print then reinitialize the new value to the existing variable and display the value.

In [43]:
a=180                      # initialize the value and print the value and after print the value                         
print(a)                       #  then reinitialize the new value to the existing var and display the value 
a=[10,23]
print(a)

180
[10, 23]

11.WAS to convert single to multi value datatype.

In [44]:
a=10                       # WAS to convert single value to multi value datatype
b=str(a)
print(b)
c=list(b)
print(c)

10
['1', '0']

12.WAS to concat the two multi value data types(str,list,tuple,dict).

In [1]:
x=[]
x+=["hello"]
print(x)

y=[]
y+=[10,30,24]
print(y)

z=[]
z+=(12,34,56)
print(z)

a=[]
a+={23,45,56}
print(a)

b=[]
b+={"a":10,"b":30}
print(b)

c=[]
c+=b"1010"
print(c)

['hello']
[10, 30, 24]
[12, 34, 56]
[56, 45, 23]
['a', 'b']
[49, 48, 49, 48]

In [48]:
a="dharani"
b="usha"
print(a)

c=a+b                    # forward concatenation using addition operation
print(c)

a+=b                     # compound arithmetic assignment/updated operator
print(a)
print(b)

a="raja"
b="rani"
c=b+a                    # backward concatenation 
print(c)

dharani
dharaniusha
dharaniusha
usha
raniraja

In [3]:
l=[10,20]
t=[30,40]
print(l,id(t))
print(t,id(t))

m=l+t           # forward/normal concatenation operation                                                                                           
print(m)
print(id(m))

l+=t            # compound assignment arithmetic operator          
print(l)
print(id(t))

[10, 20] 1972922176384
[30, 40] 1972922176384
[10, 20, 30, 40]
1972922433088
[10, 20, 30, 40]
1972922176384

13.WAC to perform the length of the collection.

In [21]:
a="dharani"
print(len(a))

print(len("hello"))

print(len({"a":10,"b":20,"c":30,"d":50,"e":40}))

print(len({12,13,12,14,15,16}))

print(len((19,34,56,78)))

7
5
5
5
4

14.WAC to find out the middle value of the given collection.

In [24]:
a="hello"
print(a[2])

print(a[len(a)//2])

b="haii"
print(b[len(b)//2])

l
l
i

15.WAC to concat the new string into the starting of the given string.

In [6]:
a="gottam"
b="dharani"
print(id(a))
print(id(b))
c=b+a            # using concatenation
print(c)

b+=a             # using compound assignment arithmetic operator     
print(b)
print(id(a))

1972922082416
1972899774896
dharanigottam
dharanigottam
1972922082416

23.WAS to modify  the  new character into the middle of the given string.

In [7]:
y="haii rama"
print(y[:len(y)//2]+"@"+y[(len(y)//2)+1:])

print(y[0:len(y)//2]+"@"+y[(len(y)//2):])

haii@rama
haii@ rama

16.WAS to concat the new string into the ending of the given string.

In [46]:
x="haii"
y="byee"
z=x+y
print(z)

x+=y
print(x)

haiibyee
haiibyee

17.WAS to concat the new string into the middle of the given string.

In [1]:
x="haii rama"
print(x[0:len(x)//2])
print(x[len(x)//2:])

print(x[:len(x)//2]+"good morning"+x[len(x)//2:])

x="haii rama"      # by using slicing
print(x[0:3+1:+1])
print(x[5:8+1:+1])
print(x[0:4]+"good morning"+x[4:])

haii
 rama
haiigood morning rama
haii
rama
haiigood morning rama

In [3]:
x="haii rama"

print(x[:len(x)//2]+"@"+x[len(x)//2:])
print(x[:len(x)//2]+"@"+x[len(x)//2:])

haii@ rama
haii@ rama

18.WAS to replace the old character into a new character of the given string.

In [3]:
# WAS to replace the old character into a new character of the given string.

st="PYSPIDERS"
print(st[:-3]+"Q"+st[-2:])
print(st[:6]+"Q"+st[7:])

PYSPIDQRS
PYSPIDQRS

In [4]:
st="PYSPIDERS"                         
res = st[:-3]+"Q"+st[-2:]
print(res)
temp=st[:6]+"Q"+st[7:]
print(temp)

PYSPIDQRS
PYSPIDQRS

19.WAS to delete the specific character in the string.

In [41]:
# WAS to delete the specific character in the string.

st="QSPIDERS"
res=st[:4]+st[4+1:]
print(res)

res=st[:-4]+st[-3:]
print(res)

QSPIERS
QSPIERS

20.WAS to delete the sequence of characters in the given string.
    i/p : st="QSPIDERS"
    O/P : QSRS

In [9]:
# WAS to delete the sequence of characters in the given string.
# i/p : st="QSPIDERS"
# O/P : QSRS
st="QSPIDERS"
res = st[:2]+st[6:]
print(res)

res = st[:2]+st[-2:]
print(res)

res = st[:-6]+st[-2:]
print(res)

res = st[:-6]+st[6:]
print(res)

QSRS
QSRS
QSRS
QSRS

21.WAS to concat the new string into the specific position of the given string.
        I/P : st="QSPIDERS"
        O/P : "QSPI123456DERS"

In [16]:
# WAS to concat the new string into the specific position of the given string.
# I/P : st="QSPIDERS"
# O/P : "QSPI123456DERS" 

st="QSPIDERS"
res=st[0:4]+"123456"+st[4:]
print(res)

st="QSPIDERS"
res=st[0:-4]+"123456"+st[-4:]
print(res)

# i/p : st="QSPIDERS"
# o/p : "SRED123456IPSQ"

st="QSPIDERS"
res=st[:3:-1]+"123456"+st[3::-1]
print(res)

st="QSPIDERS"
res=st[-1:-5:-1]+"123456"+st[-5::-1]
print(res)

QSPI123456DERS
QSPI123456DERS
SRED123456IPSQ
SRED123456IPSQ

22.WAS to concat the new value into the starting of the given list.

In [11]:
# WAS to concat the new value into the starting of the given list.

l=[10,20,30,50,"hello","haii"]
print(l,id(l))
t=[100,200]+l
print(t)

l=[10,20,30,50,"hello","haii"]   #wrong way
print(l,id(l))
t=[100,200]
t+=l
print(t)

l=[10,20,30,50,"hello","haii"] 
print(l,id(l))
l[0:0]=[100,200]
print(l,id(l))

[10, 20, 30, 50, 'hello', 'haii'] 2126012768576
[100, 200, 10, 20, 30, 50, 'hello', 'haii']
[10, 20, 30, 50, 'hello', 'haii'] 2126012766848
[100, 200, 10, 20, 30, 50, 'hello', 'haii']
[10, 20, 30, 50, 'hello', 'haii'] 2126012767680
[100, 200, 10, 20, 30, 50, 'hello', 'haii'] 2126012767680

23.WAS to concat the new value into the ending of the given list

In [13]:
# WAS to concat the new value into the ending of the given list

t=[10,20,30,50,"hello","haii"]      # this is normal concatenation
print(t,id(t))
t=t+[100,200]
print(t,id(t))

print("-*-"*20)

t=[10,20,30,50,"hello","haii"]   # compound assignment arithematic operator(address not changed)
print(t,id(t))
t+=[100,200]
print(t,id(t))

print("-*-"*20)

t=[10,20,30,50,"hello","haii"]    # by using list syntax to concat the specific position
print(t,id(t))
t[len(t):len(t)]=[100,200]
print(t,id(t))

print("-*-"*20)

t=[10,20,30,50,"hello","haii"]
print(t,id(t))
t[-1:-1]=[100,200]
print(t,id(t))

[10, 20, 30, 50, 'hello', 'haii'] 2126012943296
[10, 20, 30, 50, 'hello', 'haii', 100, 200] 2126012943680
-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-
[10, 20, 30, 50, 'hello', 'haii'] 2126012942784
[10, 20, 30, 50, 'hello', 'haii', 100, 200] 2126012942784
-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-
[10, 20, 30, 50, 'hello', 'haii'] 2126012943296
[10, 20, 30, 50, 'hello', 'haii', 100, 200] 2126012943296
-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-
[10, 20, 30, 50, 'hello', 'haii'] 2126012956288
[10, 20, 30, 50, 'hello', 100, 200, 'haii'] 2126012956288

24.WAS to concat the new value into the middle of the given list.

In [43]:
# WAS to concat the new value into the middle of the given list

y=[10,20,30,50,"hello","haii"]
print(y,id(y))
y=y[:len(y)//2]+["A","b"]+y[len(y)//2:]
print(y,id(y))


print("**********************************************"*2)

y=[10,20,30,50,"hello","haii"]
print(y,id(y))
y[:len(y)//2]:y[len(y)//2:]=['a','b']
print(y,id(y))

print("**********************************************"*2)

y=[10,20,30,50,"hello","haii"]
print(y,id(y))
y[len(y)//2]:[len(y)//2]=['a','b']
print(y,id(y))

print("**********************************************"*2)

[10, 20, 30, 50, 'hello', 'haii'] 2253628196800
[10, 20, 30, 'A', 'b', 50, 'hello', 'haii'] 2253628181696
********************************************************************************************
[10, 20, 30, 50, 'hello', 'haii'] 2253628197184
['a', 'b', 50, 'hello', 'haii'] 2253628197184
********************************************************************************************
[10, 20, 30, 50, 'hello', 'haii'] 2253628196800
[10, 20, 30, ['a', 'b'], 'hello', 'haii'] 2253628196800

25.WAS to modiffy the new value into the specific position of the given list.

In [38]:
# WAS to modify the new value into the specific position of the given list.

l=[10,20,"hello","a",'b',100,'haii',66]
print(l,id(l))
l[2]="hello world"
print(l,id(l))

[10, 20, 'hello', 'a', 'b', 100, 'haii', 66] 2253628260160
[10, 20, 'hello world', 'a', 'b', 100, 'haii', 66] 2253628260160

26.WAS to modify the sequence of new value into the specific position of the given list.

In [5]:
# WAS to modify the sequence of new value into the specific position of the list.


l=[10,20,"hello","a",'b',100,'haii',66]
print(l,id(l))
l[2:2]=["hello world","good bye"]
print(l,id(l))

[10, 20, 'hello', 'a', 'b', 100, 'haii', 66] 1259415748096
[10, 20, 'hello world', 'good bye', 'hello', 'a', 'b', 100, 'haii', 66] 1259415748096

27.WAS to modify the new values into the starting of the given list.

In [45]:
#WAS to modify the new value into the starting of the given list

l=[10,20,"hello","a","b",100,"haii",66]
print(l,id(l))
l[0]="dharani"
print(l,id(l))

[10, 20, 'hello', 'a', 'b', 100, 'haii', 66] 2253627826944
['dharani', 20, 'hello', 'a', 'b', 100, 'haii', 66] 2253627826944

28.WAS to modify the new values into the ending of the given list.

In [46]:
#WAS to modify the new value into the ending of the given list

l=[10,20,"hello","a","b",100,"haii",66]
print(l,id(l))
l[-1]="dharani"
print(l,id(l))

[10, 20, 'hello', 'a', 'b', 100, 'haii', 66] 2253628260160
[10, 20, 'hello', 'a', 'b', 100, 'haii', 'dharani'] 2253628260160

29.WAS to modify the new value into the middle of the given list.

In [5]:
#WAS to modify the new value into the middle of the given list

l=[10,20,"hello","a","b",100,"haii",66]
print(l,id(l))
l[len(l)//2:len(l)//2]=["hello world"]
print(l,id(l))

print("**********************************************"*2)

l=[10,20,"hello","a","b",100,"haii",66]
print(l,id(l))
l[len(l)//2]="hello world"
print(l,id(l))

print("**********************************************"*2)

l=[10,20,"hello","a","b",100,"haii",66]
print(l,id(l))
l[len(l)//2:len(l)//2]="hello world"
print(l,id(l))

[10, 20, 'hello', 'a', 'b', 100, 'haii', 66] 2565713720384
[10, 20, 'hello', 'a', 'hello world', 'b', 100, 'haii', 66] 2565713720384
********************************************************************************************
[10, 20, 'hello', 'a', 'b', 100, 'haii', 66] 2565713255168
[10, 20, 'hello', 'a', 'hello world', 100, 'haii', 66] 2565713255168
********************************************************************************************
[10, 20, 'hello', 'a', 'b', 100, 'haii', 66] 2565713716544
[10, 20, 'hello', 'a', 'hello world', 'b', 100, 'haii', 66] 2565713716544

28.WAS to modify the first 4 positions values into a given list.

In [1]:
l=[1,2,3,4,5,6]
print(l,id(l))
l[0:4]=['a','b','c','d']
print(l,id(l))

[1, 2, 3, 4, 5, 6] 2067547702848
['a', 'b', 'c', 'd', 5, 6] 2067547702848

29.WAS to del the value in the specific position of the given list.

In [3]:
l=[1,2,3,4,5,6]
print(l,id(l))
del l[3]
print(l,id(l))

[1, 2, 3, 4, 5, 6] 2067547530240
[1, 2, 3, 5, 6] 2067547530240
[1, 2, 3, 4, 5, 6] 2067547656640
[1, 2, 3, 4, 5] 2067547656640

30.WAS to del the new value into  the ending of the  list.

In [6]:
l=[1,2,3,4,5,6]
print(l,id(l))

del l[-1]
print(l,id(l))


l=[1,2,3,4,5,6]
print(l,id(l))

del l[len(l)-1]
print(l,id(l))

[1, 2, 3, 4, 5, 6] 2067547689792
[1, 2, 3, 4, 5] 2067547689792
[1, 2, 3, 4, 5, 6] 2067547656640
[1, 2, 3, 4, 5] 2067547656640

31.WAS to del the new value into  the middle of the  list.

In [7]:

l=[1,2,3,4,5,6]
print(l,id(l))

del l[len(l)//2]
print(l,id(l))

[1, 2, 3, 4, 5, 6] 2067553168128
[1, 2, 3, 5, 6] 2067553168128

31.WAS to del the new value into  the starting  of the  list.

In [13]:
l=[1,2,3,4,5,6]
print(l,id(l))

del l[-(len(l))]
print(l,id(l))

print("*******************************"*3)

l=[1,2,3,4,5,6]
print(l,id(l))

del l[0]
print(l,id(l))

[1, 2, 3, 4, 5, 6] 2067553338240
[2, 3, 4, 5, 6] 2067553338240
*********************************************************************************************
[1, 2, 3, 4, 5, 6] 2067547690368
[2, 3, 4, 5, 6] 2067547690368

WAS to delete the sequence of the values from the list.

In [12]:

l=[1,2,3,4,5,6]
print(l,id(l))
del l[0:4]
print(l,id(l))

print("*******************************"*3)

l=[1,2,3,4,5,6,'a','b','c','d','e']
print(l,id(l))
del l[4:0:-1]
print(l,id(l))

print("*******************************"*3)

l=[1,2,3,4,5,6,'a','b','c','d','e']
print(l,id(l))
del l[-1:-6:-1]
print(l,id(l))

[1, 2, 3, 4, 5, 6] 2067553327744
[5, 6] 2067553327744
*********************************************************************************************
[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd', 'e'] 2067553343296
[1, 6, 'a', 'b', 'c', 'd', 'e'] 2067553343296
*********************************************************************************************
[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd', 'e'] 2067553339456
[1, 2, 3, 4, 5, 6] 2067553339456

32.WAS to concat the new value into the starting of the tuple.

In [15]:
t=("hello","good","mornig","good night")
print(t,id(t))

t=("haii",)+t
print(t,id(t))

('hello', 'good', 'mornig', 'good night') 2067553482080
('haii', 'hello', 'good', 'mornig', 'good night') 2067553075040

33.WAS to concat the new value into the middle of the tuple.

In [47]:
t=("hello","good","morning","good night")
print(t,id(t))
t=t[:len(t)//2]+([10,20],)+t[len(t)//2:]
print(t,id(t))

('hello', 'good', 'morning', 'good night') 2067554713824
('hello', 'good', [10, 20], 'morning', 'good night') 2067554726864

34.WAS to concat the new value in to the ending of the  tuple.

In [27]:
t=("hello","good","morning","good night")
print(t,id(t))
t=t+("bye bye",)
print(t,id(t))

u=("hello","good","morning","good night")
print(u,id(u))
u+=("bye bye",)
print(u,id(u))

('hello', 'good', 'morning', 'good night') 2067554301920
('hello', 'good', 'morning', 'good night', 'bye bye') 2067554303520
('hello', 'good', 'morning', 'good night') 2067554301920
('hello', 'good', 'morning', 'good night', 'bye bye') 2067554301840

WAS to modify the values into the tuple.

In [37]:

#STARTING
x=('hello','good','morning','good night','bye','bye bye')
x=("haii",)+x[1:]
print(x)

#ENDING
x=('hello','good','morning','good night','bye','bye bye')
x=x[0:-1]+('good bye',)
print(x)

#SPECIFIC POSITION 
x=('hello','good','morning','good night','bye','bye bye')
x=x[0:2]+('afternoon',)+x[2+2:]
print(x)

#MIDDLE POSITION
x=('hello','good','morning','good night','bye','bye bye')
x=x[0:len(x)//2]+('afternoon',)+x[len(x)//2+1:]
print(x)

#SEQUENCE OF VALUES
x=('hello','good','morning','good night','bye','bye bye')
x=x[0:2]+([10,20],)+x[4:]
print(x)

('haii', 'good', 'morning', 'good night', 'bye', 'bye bye')
('hello', 'good', 'morning', 'good night', 'bye', 'good bye')
('hello', 'good', 'afternoon', 'bye', 'bye bye')
('hello', 'good', 'morning', 'afternoon', 'bye', 'bye bye')
('hello', 'good', [10, 20], 'bye', 'bye bye')

WAS to delete the values into the tuple.

In [1]:
a=('hello','good','good night','bye','bye bye')
a=a[:1]
print(a)

a=('hello','good','good night','bye','bye bye')
a=a[:-1]
print(a)

a=('hello','good','good night','bye','bye bye')
a=a[2:3]
print(a)

('hello',)
('hello', 'good', 'good night', 'bye')
('good night',)

WAS to perform set operations.

In [43]:
#union/concat

s={10,20,30,40}
t={20,50,60}
res=s|t
print(res)

#by using compound pipe symbol(union updation/concat/union)

s={10,20,30,40}
t={20,50,60}
s|=t
print(res)

#different/delete

s={10,20,30,40}
t={20}
res=s-t
print(res)

#difference update

s={10,20,30,40}
t={20}
s-=t
print(res)

{50, 20, 40, 10, 60, 30}
{50, 20, 40, 10, 60, 30}
{40, 10, 30}
{40, 10, 30}

WAS to concat the new key and value into the dict.

In [9]:
d={'a':10,'hello':'bye'}   #adding the single value key pair
print(d,id(d))
d['c']=30
print(d,id(d))

print("--*--"*20)

d={'a':10,'hello':'bye'}    #adding the multiple value key pairs
x={'apple':10,'bat':20,"ball":50}
print(d,id(d))
d|=x
print(d,id(d))

print("--*--"*20)


d={'a':10,'hello':'bye'}   #adding the single value key pair
print(d,id(d))
d['c']=30
print(d,id(d))

print("--*--"*20)

d={'apple':100,'hello':'bye'}    #adding the multiple value key pairs(using same key values)
x={'apple':200,'bat':'bye',"ball":50}
print(d,id(d))
d|=x
print(d,id(d))

{'a': 10, 'hello': 'bye'} 2565713761088
{'a': 10, 'hello': 'bye', 'c': 30} 2565713761088
--*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*--
{'a': 10, 'hello': 'bye'} 2565713763392
{'a': 10, 'hello': 'bye', 'apple': 10, 'bat': 20, 'ball': 50} 2565713763392
--*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*--
{'a': 10, 'hello': 'bye'} 2565713761088
{'a': 10, 'hello': 'bye', 'c': 30} 2565713761088
--*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*--
{'apple': 100, 'hello': 'bye'} 2565713760960
{'apple': 200, 'hello': 'bye', 'bat': 'bye', 'ball': 50} 2565713760960

#WAS to delete the specific key and value in the given dict.

In [8]:
d={'apple':200,'hello':'bye','bat':'bye','ball':60}  # for del single key
print(d,id(d))
del d['ball']
print(d,id(d))

print("--*--"*20)

d={'apple':200,'hello':'bye','bat':'bye','ball':60}   # for del no of keys
print(d,id(d))
del [d['ball'],d['apple']]
print(d,id(d))

{'apple': 200, 'hello': 'bye', 'bat': 'bye', 'ball': 60} 2565713275200
{'apple': 200, 'hello': 'bye', 'bat': 'bye'} 2565713275200
--*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*--
{'apple': 200, 'hello': 'bye', 'bat': 'bye', 'ball': 60} 2565713277696
{'hello': 'bye', 'bat': 'bye'} 2565713277696

WAS to modify the specific value in the given dict.

In [7]:
d={'apple':200,'hello':'bye','bat':'bye','ball':60}   # for del no of keys
print(d,id(d))

d["apple"]=1500
print(d,id(d))

print("--*--"*20)

d={'apple':200,'hello':'bye','bat':'bye','ball':60}   # for del no of keys
t={'apple':1500,'hello':'hello world'}
print(d,id(d))
del [d['ball'],d['apple']]
print(d,id(d))

{'apple': 200, 'hello': 'bye', 'bat': 'bye', 'ball': 60} 2565713276032
{'apple': 1500, 'hello': 'bye', 'bat': 'bye', 'ball': 60} 2565713276032
--*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*--
{'apple': 200, 'hello': 'bye', 'bat': 'bye', 'ball': 60} 2565713711360
{'hello': 'bye', 'bat': 'bye'} 2565713711360

41.WAS to concat the list value and tuple value by using type casting.

In [7]:
l=[10,20,30,40]
j=("A","b","c","d")
res=l+list(j)
print(res)

print("--*--"*20)


l=[10,20,30,40]
j=("A","b","c","d")
res=tuple(l)+(j)
print(res)

print("--*--"*20)

l=[10,20,30,40]
j=("A","b","c","d")
l+=list(j)
print(l)

print("--*--"*20)

l=[10,20,30,40]
j=("A","b","c","d")
j+=tuple(l)
print(j)

print("--*--"*20)

[10, 20, 30, 40, 'A', 'b', 'c', 'd']
--*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*--
(10, 20, 30, 40, 'A', 'b', 'c', 'd')
--*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*--
[10, 20, 30, 40, 'A', 'b', 'c', 'd']
--*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*--
('A', 'b', 'c', 'd', 10, 20, 30, 40)
--*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*----*--

42.WAS to concat the list value and tuple value with out type casting.

In [9]:
l=['a','b','c','d']
t=(1,2,3,4,5,6)
l+=t
print(l)

l=['a','b','c','d']
t=(1,2,3,4,5,6)
t+=l
print(l)

['a', 'b', 'c', 'd', 1, 2, 3, 4, 5, 6]

TypeError: can only concatenate tuple (not "list") to tuple

43.WAS to the given number is divisible by 3.

In [11]:
n=15
res=n%3==0
print(res)

n=19
res=n%3==0
print(res)

True
False

44.WAS to the given number is divisible by 2 and 6.

In [14]:
n=16
d=n%2==0 and n%6==0
print(d)

n=24
d=n%2==0 and n%6==0
print(d)

False
True

45.WAp to extract the last digit from given last integer number .(with out using typecasting).

In [15]:
n=1569
res=(n%10)
print(res)

n=1569
res=(n%100)
print(res)

n=1569
res=(n%1000)
print(res)

n=1569
res=(n%10000)
print(res)

9
69
569
1569

46.WAP to eliminate last digit from the given list.

In [19]:
n=1569
res=(n//10)
print(res)

n=1569
res=(n//100)
print(res)

n=1569
res=(n//1000)
print(res)

n=1569
res=(n//10000)
print(res)

156
15
1
0

47.WAS to extract the last second digit from given integer number.(with out typecasting)

In [5]:
n=1879
res=(n%100)//10
print(res)

n=1879
res=(n%1000)//100
print(res) 

n=1879
res=(n%10000)//1000
print(res)

n=1879
res=(n%10)
print(res)

7
8
1
9

48.WAS to the given number , the last digit is divisible by 3.(don't use typecasting)

In [2]:
n=1569
res=((n%10)%3)==0
print(res)

True

49.WAS to the given number , the last digit is divisible by 3.(with typecasting)

In [4]:
n=1569
res=(str(n)[-1])
print(res,type(res))

res1=int(str(n)[-1])
print(res1,type(res1))

res1=(int(str(n)[-1])%3)==0
print(res1,type(res1))

9 <class 'str'>
9 <class 'int'>
True <class 'bool'>

50.WAC to the given number is greater than 150.

In [24]:
n=420
res=n>150
print(res)

True

51.WAC to check the given number is greater than or equal to 100.

In [25]:
n=420
res=(n>=100)
print(res)

True

52.WAC to check the given number is less than 150, print the result.

In [28]:
n=150
res=(n<150)
print(res)

False

53.WAC to check the given number is less than or equal to 150, print the result.

In [29]:
n=150
res=(n<=150)
print(res)

True

54.WAC to check the given number is greater than 15 &less than 24, print the result.

In [1]:
n=20
res=(n>15 and n<24)
print(res)

n=20
res=(15<n and n<24)
print(res)

n=20
res=(15< n<24)
print(res)

True
True
True

55.WAS to the number is even.

In [31]:
n=18
res=(n%2==0)
print(res)

True

56.WAS to the given number is odd.

In [32]:
n=18
res=(n%2!=0)
print(res)

n=18
res=not(n%2==0)
print(res)

False
False

57.WAS to perform the replication or repetition of a given string with 6 times.

In [33]:
b="haii"
res=(b*6)
print(res)

haiihaiihaiihaiihaiihaii

58.WAE to check the given number is divisible by 3 and also the number should be greater than 22.

In [35]:
n=27
res=(n%3==0) and (n>22)
print(res)

n=29
res=(n%3==0) and (n>22)
print(res)

True
False

59.WAC to perform the length of the collection is even or not.

In [42]:
a=[1,2,23,45,56,7,8,9,5,6,6]
res=(len(a)%2==0)
print(res)

a=[1,2,23,45,56,7,8,9,5,6]
res=(len(a)%2==0)
print(res)

False
True

In [44]:
n="helloworld"
res=(len(n)%2==0)
print(res)

True

60.WAC to perform length of the collection is less than 55 and greater than 16.

In [47]:
n="*"*52
res=(16<len(n)<55)
print(res)

True

61.WAS to check the length of the collection is divisible by 5 and odd.

In [54]:
n="HELLOWORLDHAII"
res=(len(n)%5==0 and len(n)%2!=0)
print(res)

n="HELLOWORLDHAII "
res=(len(n)%5==0 and len(n)%2!=0)
print(res)

False
True

62.WAS to extract the middle position value of a given collection .(str,list,tuple)

In [49]:
s="PYSPIDERS"
res=s[len(s)//2]
print(res)

s=[1,2,3,4,5]
res=s[len(s)//2]
print(res)

s=(10,"a",20)
res=s[len(s)//2]
print(res)

I
3
a

63.WAS to check the given  number is greater than 20 and less than 30 and it should be even .

In [55]:
n=26
res=(20<n<30) and (n%2==0)
print(res)

True

64.WAS to the given number is even and should be less than 120.

In [57]:
n=116
res=(n<120) and (n%2==0)
print(res)

True

65.WAS to the given number is even and present from 40 to 70.

In [59]:
n=56
res=(40<=n<=70) and (n%2==0)
print(res)  

n=99
res=(40<=n<=70) and (n%2==0)
print(res)

True
False

66.WAC to the given number is odd and it should be greater than 97.

In [8]:
a=107
res=(a%2!=0)and(a>97)
print(res)

a=108
res=(a%2!=0)and(a>97)
print(res)

True
False

67.WAC to the given number is less than 122 and greater than 48 and the number should be divisible by 4.

In [9]:
a=78
res=(48<a<122) and (a%4==0)
print(res)

False

68.WAC to the given number is divisible by 3 or 5 display the value.

In [12]:
a=33
res=(a%3==0) or (a%5==0)
print(res)  

a=55
res=(a%3==0) or (a%5==0)
print(res) 

a=32
res=(a%3==0) or (a%5==0)
print(res)

True
True
False

69.WAC to the given number is between 100 to 200 including the limit.

In [14]:
a=155
res=(100<a<200)
print(res)

a=205
res=(100<a<200)
print(res)

True
False

70.WAC to the given number is even or less than 25.

In [19]:
a=16
res=(a%2==0) or (a<25)
print(res)

a=44
res=(a%2==0) or (a<25)
print(res)

a=45
res=(a%2==0) or (a<25)
print(res)

True
True
False

71.WAC to the given number is even or greater than 25.

In [22]:
a=16
res=(a%2==0) or (a<25)
print(res)

a=43
res=(a%2==0) or (a>25)
print(res)

a=50
res=(a%2==0) or (a>25)
print(res)

a=16
res=(a%2==0) or (a>25)
print(res)

a=23
res=(a%2==0) or (a>25)
print(res)

a=13
res=(a%2==0) or (a>25)
print(res)

True
True
True
True
False
False

72.WAC to the given number is divisible by either 3 or 5.

In [24]:
a=155
res=(a%3==0) or (a%5==0)
print(res)

a=23
res=(a%3==0) or (a%5==0)
print(res)

a=27
res=(a%3==0) or (a%5==0)
print(res)

True
False
True

73.WAC to the given number is not an even number.

In [26]:
a=55
res=(a%2!=0)
print(res)

a=24
res=(a%2!=0)
print(res)

True
False

74.WAC to the given number is not a number.

In [27]:
a=54
res=(a%2==0)
print(res)

a=25
res=(a%2==0)
print(res)

True
False

75.WAC to the given number is not divisible by 3.

In [28]:
a=77
res=(a%3!=0)
print(res)

a=33
res=(a%3!=0)
print(res)

True
False

76.WAC to the given number is not divisible by 3 and 5.

In [31]:
a=76
res=(a%3!=0) and (a%5!=0)
print(res)

a=15
res=(a%3!=0) and (a%5!=0)
print(res)

True
False

77.WAC to the given number is present between 60 t0 130 and the number should be divisible by 3 and 4 and the last digit should be greater than 9.

In [1]:
a=120
res=(60<a<130) and (a%3==0) and (a%4==0)
print(res)

True

78.WAC to the given character ASCII value is not divisible by 5.

WAC to the given string's last character ASCII value should not be divisible by 5.

78.WAE to find out the ASCII character in a given number.

In [2]:
a=67
print(chr(a))

a=65
print(chr(a))

a=90
print(chr(a))

a=122
print(chr(a))

a=48
print(chr(a))

a=54
print(chr(a))

a=0
print(chr(a))

a=58
print(chr(a))

C
A
Z
z
0
6
 
:

79.WAE to find out the ASCII value in a given character.

In [3]:
ch='A'
print(ord(ch))

chr='Z'
print(ord(chr))

A='z'
print(ord(A))

ch='Z'
print(ord(ch))

ch='0'
print(ord(ch))

65
90
122
90
48

80.WAC to convert uppercase to lowercase .

In [5]:
ch='A'     
print(chr(ord(ch)+32))

#with out using any functions
#we can use utility functions they are ASCII ,ord

ch='A'
print(ch.lower())

#upper case

ch='a'                 
print(chr(ord(ch)-32))

a
a
A

81.WAE to check the given character is uppercase or not.

In [4]:
ch="Y"
print(65<=ord(ch)<=90)
 
ch="Ya"
print(chr(65) <= ch <= chr(90))

ch="M"
print("A" <= ch <= "Z")

ch="Ya"
print(len(ch)==1) and chr(65)<=chr<=chr(90)

ch="Ma"
print(len(ch)==1 and "A"<=ch<="Z")

ch="MA"
print(ch.isupper()) # is upper will support each character in the string

True
True
True
False
False
True

82.WAE to check the given character is lower case or not.

In [3]:
ch='a'
print(97<=ord(ch)<=122)

ch='yA'
print(chr(97)<=ch<=chr(122))

ch='m'
print('A'<=ch<='Z')

ch='aY'
print(len(ch)==1) and chr(97)<=chr<=chr(122)  #len(ch) is taken as 2 bcz aY are 2

ch='Ma'
print(len(ch)==1 and 'A'<=ch<='Z')

ch='at'
print(ch.isupper())                     #each string is considered

True
True
False
False
False
False

83.WAE to check the given character is alphabet or not.

In [2]:
ch='a'
print(97<=ord(ch)<=122 or 65<=ord(ch)<=90)


ch='yA'
print(chr(97)<=ch<=chr(122) or chr(65)<=ch<=chr(90))

ch='aY'
print(len(ch)==1) and chr(97)<=chr<=chr(122) or (len(ch)==1 and chr(65)<=chr<=chr(90))

ch='m'
print('A'<=ch<='Z' or 'a'<=ch<='z')

ch='Ma'
print(len(ch)==1 and 'A'<=ch<='Z') or (len(ch)==1 and 'a'<=ch<='z')

ch='at'
print(ch.isupper() or ch.islower())

ch='a'
ch.isalpha()

True
True
False
True
False
True

True

84.WAE to check the given number is ASCII or not.

In [7]:
ch='9'
print(chr(48) <= ch <= chr(57))

#or

ch='8'
print('0'<=ch<='9')

#or

ch='B'
print(len(ch)==1) and chr('0')<=chr<=chr('9')

#or

ch='6'
print(len(ch)==1 and '0'<=ch<='9')

#or

ch='89'
print(ch.isnumeric())

True
True
True
True
True

85.WAE to check the given character is special character or not.

In [11]:
b='*'
a=not('A'<=ord(b)<='Z' or 'a'<=ord(b)<='z' or '0'<=ord(b)<='9')
print(a)

b=(1<=ord(b)<=47 or 59<=ord(b)<=64 or 91<=ord(b)<=96 or 122<=ord(ch)<=127)
print(b)

TypeError: '<=' not supported between instances of 'str' and 'int'

86.WAE to check the given character should not be upper case.

In [13]:
ch='G'
print(len(ch)==1 and not ('a'<=ch<='z'))

ch='D'
print(len(ch)==1 and not ('a'<=ch<='z'))

ch='a'
print(len(ch)==1 and not ('a'<=ch<='z'))

True
True
False

87.WAS extrct the previous characters in the given character.
  for d previous character is c and after cahracter is e so print both.

In [15]:
ch='D'
print(chr(ord(ch)))
print(ord(ch))

print(chr(ord(ch)-1),ch,chr(ord(ch)+1))

D
68
C D E

88.WAE to check the given number is a special character or not.

In [16]:
a=93
print(chr(a))

b= not('A'<=chr(a)<='B' or 'a'<=chr(a)<='z' or '0'<=chr(a)<='9')
print(b)

]
True

89.WAS to check the given character is converted to ASCII value is even as well as 
#the character should be lower

In [17]:
ch='l'
print(ord(ch)%2==0 and 'a'<=ch<='z')  # this is only possible for single character 

print(len(ch)==1 and ord(ch)%2==0 and 'a'<=ch<='z')   # it support multiple characters

True
True

90.WAS to check the given character is converted to ASCII value is even as well as 
#the given character should be upper.

In [18]:
ch='l'
print(ord(ch)%2==0 and 'A'<=ch<='Z')  # this is only possible for single character 

print(len(ch)==1 and ord(ch)%2==0 and 'A'<=ch<='Z')   # it support multiple characters

ch='D'
print(ord(ch)%2==0 and 'A'<=ch<='Z')

b='daa'
print(len(b)==1 and ord(b)%2==0 and 'A'<=b<='Z')

False
False
True
False

91.WAS to check the given number is ASCII character is vowel.

In [19]:
ch=65
res=chr(ch)=='A' or chr(ch)=='E' or chr(ch)=='I' or chr(ch)=='O' or chr(ch)=='U' or chr(ch)=='a' or chr(ch)=='e' or chr(ch)=='i' or chr(ch)=='o' or chr(ch)=='u'
print(res)

a=chr(ch) in 'AEIOUaeiou'
print(a)

True
True

92.WAE to check if the first and second character are sequence or not in the given string

In [21]:
st='ABCD'
print(ord(st[0]),ord(st[1]),ord(st[2]),ord(st[3]))

print(ord(st[0])==ord(st[1])-1)


print(ord(st[0])+1==ord(st[1]))

65 66 67 68
True
True

93.WAE to check the given character ASCII value should be greater then 50 or graeter than 25 or less than 112.

In [22]:
a='0'
print(25<ord(a)<112)

True

94.WAE to the given number is incresed by 1.

In [23]:
n=5
n+=1
print(n)

6

95.WAE to the given number is dicreased by 2.

In [24]:
n=5
n+=2
print(n)

7

96.WAE to the given number is dicreased by 3.

In [25]:
n=5
n+=3
print(n)

8

97.WAE to the given number is dicreased by 1,2,3.

In [26]:
n=5
n-=1
print(n)

n=5
n-=2
print(n)

n=5
n-=3
print(n)

4
3
2

98.WAE to check the givn number is present in the collection .

In [27]:
a=400
b=[20,30,400,60,78]
print(a in b)

a=400
b=(20,30,400,60,78)
print(a in b)

a=400
b={20,30,400,60,78}
print(a in b)

a=256
b={10:20,115:105,156:256}
print(a in b)

a=115
b={10:20,115:105,156:256}
print(a in b)

True
True
True
False
True