1.WAP to print the “hello world” for 5 times by using a while loop.

In [6]:
st="hello world"
start=0
while start<5:
    print(st)
    start+=1

hello world
hello world
hello world
hello world
hello world

2.WAP to print the number from 1 to 10 by using a while loop.

In [45]:
start=1
end=10
while start<=end:
    print(start,end=" ")
    start+=1

1 2 3 4 5 6 7 8 9 10

3.WAP to print the natural number until 1 to nth times by using a while loop.

In [44]:
start=1
n=20
while start<=n:
    print(start,end=" ")
    start+=1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

4.WAP to print the reverse of the natural number nth to 0 times by using a while loop.

In [43]:
start=20
n=1
while start>=n:
    print(start,end=" ")
    start-=1

20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

5.WAP to print the whole number until nth times by using a while loop.

In [42]:
start=0
n=20
while start<=n:
    print(start,end=" ")
    start+=1

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

6.WAP to print the reverse of the whole number until nth times by using a while loop.

In [41]:
start=20
n=0
while start>=n:
    print(start,end=" ")
    start-=1

20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0

7.WAP to print the even number until nth times by using a while loop.

In [40]:
start=0
n=40
while start<=n:
    if start%2==0:
        print(start,end=" ")
    start+=1

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40

8.WAP to print reserve the even number until nth times by using a while loop.

In [39]:
start=40
n=0
while start>=n:
    if start%2==0:
        print(start,end=" ")
    start-=1

40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4 2 0

9.WAP to print the odd number until nth times by using a while loop.

In [38]:
start=0
n=40
while start<=n:
    if start%2!=0:
        print(start,end=" ")
    start+=1

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39

10.WAP to print reserve the odd number until nth times by using a while loop.

In [37]:
start=40
n=0
while start>=n:
    if start%2!=0:
        print(start,end=" ")
    start-=1

39 37 35 33 31 29 27 25 23 21 19 17 15 13 11 9 7 5 3 1

11.WAP to print the nth table 1 to 20, format ==> 5 * 1 = 5 to 5 * 20 = 100

In [81]:
start=1
end=20
while start<=end:
    print("5 *",start,"=",5*start)
    start+=1

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60
5 * 13 = 65
5 * 14 = 70
5 * 15 = 75
5 * 16 = 80
5 * 17 = 85
5 * 18 = 90
5 * 19 = 95
5 * 20 = 100

12.WAP to print the nth table 20 to 1, format ==> 5 * 20 = 100 to 5 * 1 = 5

In [82]:
start=20
end=1
while start>=end:
    print("5 *",start,"=",5*start)
    start-=1

5 * 20 = 100
5 * 19 = 95
5 * 18 = 90
5 * 17 = 85
5 * 16 = 80
5 * 15 = 75
5 * 14 = 70
5 * 13 = 65
5 * 12 = 60
5 * 11 = 55
5 * 10 = 50
5 * 9 = 45
5 * 8 = 40
5 * 7 = 35
5 * 6 = 30
5 * 5 = 25
5 * 4 = 20
5 * 3 = 15
5 * 2 = 10
5 * 1 = 5

13.WAP to print the numbers which are divisible by 3 from 25 to 66.

In [34]:
start=25
end=66
while start<=end:
    if start%3==0:
        print(start,end=" ")
    start+=1

27 30 33 36 39 42 45 48 51 54 57 60 63 66

14.WAP to print the numbers which are divisible by 3 and 5 from 15 to 76.

In [33]:
start=15
end=76
while start<=end:
    if start%3==0 and start%5==0:
        print(start,end=" ")
    start+=1

15 30 45 60 75

15.WAP to print the numbers which are divisible by 5 and 7 from 77 to 22.

In [32]:
start=77
end=22
while start>=end:
    if start%5==0 and start%7==0:
        print(start,end=" ")
    start-=1

70 35

16.WAP to print the ”love you” if value is divisible by 3, or print “hate you” value is 
divisible by 5, to print “i like you” if divisible by 3 and 5, from 1 to 30.

In [88]:
start=1
end=30
while start<=end:
    if start%3==0 and start%5==0:
        print("i like you")
    elif start%3==0:
        print("love you")
    elif start%5==0:
        print("hate you")
    start+=1

love you
hate you
love you
love you
hate you
love you
i like you
love you
hate you
love you
love you
hate you
love you
i like you

17.WAP to print sum of the 1 to nth natural numbers.

In [93]:
start=1
n=10
sum=0
while start<=n:
    sum+=start
    start+=1
print(sum)

55

18.WAP to print sum of the even numbers 1 to 20 numbers.

In [94]:
start=1
end=20
sum=0
while start<=end:
    if start%2==0:
        sum+=start
    start+=1
print(sum)

110


19.WAP to print products of the 1 to 6 numbers.

In [95]:
start=1
end=6
product=1
while start<=end:
    product*=start
    start+=1
print(product)

720

20.WAP to count the no of odd values from 1 to 30 numbers.

In [103]:
start=1
end=30
count=0
while start<=end:
    if start%2!=0:
        count+=1
    start+=1
print(count)

15

21.WAP to print the factors of the given number.

In [97]:
n=36
start=1
while start<=n:
    if n%start==0:
        print(start,end=" ")
    start+=1

1 2 3 4 6 9 12 18 36

22.WAP to sum of the factors of the given number.

In [100]:
n=36
start=1
sum=0
while start<=n:
    if n%start==0:
        sum+=start
    start+=1
print(sum)

91

23.WAP to prod of the factors of the given number.

In [104]:
n=36
start=1
product=1
while start<=n:
    if n%start==0:
        product*=start
    start+=1
print(product)

10077696

24.WAP to print Fibonacci series 0 to nth.

In [105]:
start=0
n=30
a=0
b=1
while start<end:
    c=a+b
    print(c,end=" ")
    a=b
    b=c
    start+=1

1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269

25.WAP to find out the factorial number of a given number.

In [109]:
n=12
fact=1
while n:
    fact*=n
    n=n-1
print(fact)

479001600

26.WAP to print the factorial numbers in the given range m to n.

In [31]:
m=6         #############################
n=16 
fact=1 
while m<=n: 
    fact*=m 
    m=m-1 
if m==n: 
    print(fact)

KeyboardInterrupt:

27.WAP to check whether a given number is a prime number or not.

In [148]:
n=2
start=1
count=0
while start<=n:
    if n%start==0:
        count+=1
    start+=1
if count==2:        
   print("prime number")
else:
    print("not a prime number")

prime number

28.WAP to print the prime numbers in the given range m to n.

In [67]:
start=1
end=100
while start<=100:
    count=0
    i=2
    while i<=start//2:
        if start%i==0:
            count+=1
            break
        i+=1
    if count==0 and start!=1:
        print("%d" %start,end=' ')
    start+=1

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

29.WAP to check whether a given number is an armstrong number or not.

In [152]:
n=153
m=n
sum=0
count=3
while n:
    res=n%10
    sum=sum+res**(count)
    n=n//10 
print(sum)
if sum==m:
    print("armstrong number")
else:
    print("not an armstrong number")

153
armstrong number

30.WAP to print the armstrong numbers in the given range m to n.

31.Write a program to print prime series 1 to nth.

In [23]:
start=1
end=50
while start<=end:
    count=0
    i=2
    while i<=start//2:
        if start%i==0:
            count+=1
            break
        i+=1
    if count==0 and start!=1:
        print("%d" %start,end=' ')
    start+=1

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

32.Write a program to print 1 to 100 prime numbers in fibonacci series.

In [3]:
m=1
n=12
a=0
b=1
print(a,b,end=' ')
while m<n:
    c=a+b
    print(c,end=' ')
    a=b
    b=c
    m+=1

0 1 1 2 3 5 8 13 21 34 55 89 144

33.Write a program Sum of prime numbers in a given collection.

34.WAP to the given number is palindrome or not.

In [158]:
n=12321
m=n
sum=0
while n:
    res=n%10
    sum=sum*10+res
    n=n//10
if sum==m:
    print("palindrome")
else:
    print("not a palindrome")

palindrome

35.WAP to check whether the length of the string is even or odd. If it is even, print 
that string 10 times. If it is not printed 5 times.

In [22]:
st="dharani"
start=1
end=len(st)
while start<end:
    if end%2==0:
        print(st*10)
    start+=1    
if end%2!=0:
    print(st*5) 
start+=1

dharanidharanidharanidharanidharani

36.WAP to print the uppercase character from ‘A’ to ‘Z’ by using a while loop.

In [18]:
start=65
end=90
while start<=end:
    print(chr(start),end=" ")
    start+=1

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

37.WAP to print the lowercase character from ‘a’ to ‘z’ by using a while loop.

In [17]:
start=97
end=122
while start<=end:
    print(chr(start),end=" ")
    start+=1

a b c d e f g h i j k l m n o p q r s t u v w x y z

38.WAP to print the ascii numbers character from ‘0’ to ‘9’ by using a while loop.

In [19]:
start=48
end=57
while start<=end:
    print(chr(start),end=" ")
    start+=1

0 1 2 3 4 5 6 7 8 9

39.WAP to print the uppercase character from ‘E’ to ‘U’ by using a while loop.

In [20]:
start=69
end=85
while start<=end:
    print(chr(start),end=" ")
    start+=1

E F G H I J K L M N O P Q R S T U

40.WAP to print the uppercase character from ‘Z’ to ‘A’ by using a while loop.

In [21]:
start=90
end=65
while start>=end:
    print(chr(start),end=" ")
    start-=1

Z Y X W V U T S R Q P O N M L K J I H G F E D C B A

41.WAP to print the uppercase character from ‘U’ to ‘G’ by using a while loop.

In [22]:
start=85
end=71
while start>=end:
    print(chr(start),end=" ")
    start-=1

U T S R Q P O N M L K J I H G

42.WAP to print the lowercase character from ‘i’ to ‘y’ by using a while loop.

In [23]:
start=105
end=121
while start<=end:
    print(chr(start),end=" ")
    start+=1

i j k l m n o p q r s t u v w x y

43.WAP to print the lowercase character from ‘z’ to ‘a’ by using a while loop.

In [24]:
start=122
end=97
while start>=end:
    print(chr(start),end=" ")
    start-=1

z y x w v u t s r q p o n m l k j i h g f e d c b a

44.WAP to print the lowercase character from ‘p’ to ‘c’ by using a while loop.

In [25]:
start=112
end=99
while start>=end:
    print(chr(start),end=" ")
    start-=1

p o n m l k j i h g f e d c

45.WAP to print the uppercase characters based on even ascii values.

In [28]:
start=65
end=90
while start<=end:
    if start%2==0:
        print(chr(start),end=" ")
    start+=1

B D F H J L N P R T V X Z

46.WAP to print the lowercase characters based on even ascii values.

In [29]:
start=97
end=122
while start<=end:
    if start%2==0:
        print(chr(start),end=" ")
    start+=1

b d f h j l n p r t v x z

47.WAP to print the uppercase characters based on odd ascii values.

In [30]:
start=65
end=90
while start<=end:
    if start%2!=0:
        print(chr(start),end=" ")
    start+=1

A C E G I K M O Q S U W Y

48.WAP to print the lowercase characters based on odd ascii values.

In [31]:
start=97
end=122
while start<=end:
    if start%2!=0:
        print(chr(start),end=" ")
    start+=1

a c e g i k m o q s u w y

49.WAP to print all the even characters from ‘A’ to ‘Z’.

In [2]:
start=65
end=90
while start<=end:
    if start%2==0:
        print(chr(start),end=" ")
    start+=1

B D F H J L N P R T V X Z

50.WAP to print all the odd characters from ‘a’ to ‘z’.

In [3]:
start=97
end=122
while start<=end:
    if start%2!=0:
        print(chr(start),end=" ")
    start+=1

a c e g i k m o q s u w y

51.WAP to count the number of vowels present in D to V.

In [49]:
start=68
end=86
count=0
while start<=end:
    if (chr(start)) in "AEIOUaeiou":
        count+=1
    start+=1
print(count)

4

52.WAP to count the number of vowels present in u to e.

In [4]:
start=117
end=101
count=0
while start>=end:
    if (chr(start)) in "AEIOUaeiou":
        count+=1
    start-=1
print(count)

4

53.WAP to print the square of the number in between the range from m to n which is multiple of 3. WAP to print a number from range m to n which is divisible by 5.

In [45]:
m=1
n=10
while m<=n:
    if m%3==0:
        print(m**2,end=" ")
    m+=1
print("*--*"*8)
m=5
n=50
while m<=n:
    if m%5==0:
        print(m,end=" ")
    m+=1

9 36 81 *--**--**--**--**--**--**--**--*
5 10 15 20 25 30 35 40 45 50

54.Write a program which takes an integer number and find the sum of digits and repeat until the sum gets a single digit in the end.
Example:
Input 5643
 
Example:
 5+6+4+3 =>18 
 1+8=>9
Output 9

In [6]:
n=5643
sum=0
while n:
    res=n%10
    sum+=res 
    n=n//10
print(sum)     
sum1=0
while sum:
    res1=sum%10
    sum1+=res1
    sum=sum//10
print(sum1)

18
9

In [4]:
n=5643
while n>9:
    sum=0
    while n:
        res=n%10
        sum+=res
        n=n//10
    if sum>9:
        n=sum
    else:
        print(sum)
        break

9

55.Write a program to count the numbers of 2’s between 0 and n
Input n=35
 Example: 2,12,20,21,22,23,24,25,26,27,28,29,32
Output 14

In [1]:
start=2           ############################
end=35
count=0
while start<=end:
    print(start,end=" ")
    start+=1
    #if count==2:

2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35

56.WAP to print all the characters in a given string.

In [25]:
st="dharani" 
start=0
end=len(st)
while start<end:
    print(st[start],end="")
    start+=1

dharani

57.WAP to print all the items present in the string between the range from m to n.

In [2]:
st="dharani1234"  
start=0
end=9
while start<end:
    print(st[start],end=" ")
    start+=1

d h a r a n i 1 2

58.WAP to print the uppercase characters in a given string.

In [40]:
st="DhaRaNi"  
start=0
end=len(st)
while start<end:
    if 'A'<=st[start]<='Z':
        print(st[start],end=" ")
    start+=1

D R N

59.WAP to print the lowercase characters in a given string.

In [41]:
st="DhaRaNi"  
start=0
end=len(st)
while start<end:
    if 'a'<=st[start]<='z':
        print(st[start],end=" ")
    start+=1

h a a i

60.WAP to print the ascii numbers(Digits) characters in a given string.

In [42]:
st="DhaRaNi"  
start=0
end=len(st)
while start<end:
        print(ord(st[start]),end=" ")
        start+=1

68 104 97 82 97 78 105

61.WAP to print the special characters in a given string.

In [43]:
st="Dh@r@n!i"
start=0
while start<end:
    if not ('A'<=st[start]<='Z' or 'a'<=st[start]<='z' or '0'<=st[start]<='9'):
        print(st[start],end=" ")
    start+=1

@ @ !

62.WAP to Print the vowels in a given string.

In [45]:
st="dharani"  
start=0
while start<end:
    if st[start] in "AEIOUaeiou":
        print(st[start],end=" ")
    start+=1

a a i

63.WAP to Print the consonants in a given string.

In [46]:
st="dharani"  
start=0
while start<end:
    if st[start] not in "AEIOUaeiou":
        print(st[start],end=" ")
    start+=1

d h r n

64.WAP to print the reverse of the characters in a given string.

In [82]:
st="dharani" 
start=0
end=len(st)
while start<end:
    start+=1
    print(st[::-1])
    break

inarahd

65.WAP to print even position values characters in a given string.

In [85]:
st="dharani"  
start=0
end=len(st)
while start<end:
    if start%2==0:
        print(st[start],end=" ")
    start+=1

d a a i

66.WAP to print odd position values characters in a given string.

In [86]:
st="dharani"  
start=0
end=len(st)
while start<end:
    if start%2!=0:
        print(st[start],end=" ")
    start+=1

h r n

67.I/p: ‘hello world 123 haii’
o/p:’eoo123aii’

In [95]:
st="hello world 123 haii"
start=1
end=7
while start<=end:
    print(st[start],end="")
    start+=3
start=12
end=14
while start<=end:
    print(st[start],end="")
    start+=1 
start=17
end=19
while start<=end:
    print(st[start],end="")
    start+=1

eoo123aii

68.I/p: ‘hello world 123 haii’
o/p:’eo o 123 aii’

In [104]:
st="hello world 123 haii"
start=1
end=4
while start<=end:
    print(st[start],end="")
    start+=3
start=5
end=7
while start<=end:
    print(st[start],end="")
    start+=2 
start=11
end=15
while start<=end:
    print(st[start],end="")
    start+=1
start=17
end=19
while start<=end:
    print(st[start],end="")
    start+=1

eo o 123 aii

69.I/p: ‘hello world 123 haii’
   o/p:’eo o aii’

In [19]:
st="hello world 123 haii"
start=1
end=4
while start<=end:
    print(st[start],end="")
    start+=3
start=5
end=7
while start<=end:
    print(st[start],end="")
    start+=2 
start=15
end=20
while start<=end:
    print(st[start],end='')
    start+=2
start=19
end=19
while start==end:
    print(st[start],end="")
    start+=1

eo o aii

70.I/p: ‘hello world 123 haii’
   o/p:’hll world haii’

In [38]:
st="hello world 123 haii"
start=0
end=2
while start<=end:
    print(st[start],end="")
    start+=2
start=3
end=start
while start==end:
    print(st[start],end="")
    start+=1
start=5
end=10
while start<=end:
    print(st[start],end="")
    start+=1 
start=15
while start<len(st):
    print(st[start],end="")
    start+=1

hll world haii

71.i/p:’hello world’
   o/p:’hll wrld’
   o/p:’eoo’

In [61]:
st="hello world"
start=0
end=2
while start<=end:
    print(st[start],end="")
    start+=2
start=3
end=start
while start==end:
    print(st[start],end="")
    start+=1 
start=5
end=6
while start<=end:
    print(st[start],end="")
    start+=1 
start=8
end=len(st)
while start<len(st):
    print(st[start],end="")
    start+=1

print()    

start=1
end=4
while start<=end:
    print(st[start],end="")
    start+=3
start=4
while start==4:
    print(st[start],end="")
    start+=1

hll wrld
eoo

72.i/p:’12hello3 4world4’
   o/p:’hll wrld’
   o/p:’eoo’
   o/p:’12344’

In [80]:
st="12hello3 4world4"
start=2
end=4
while start<=end:
    print(st[start],end="")
    start+=2
start=5
while start==5:
    print(st[start],end="")
    start+=1
start=8
end=12
while start<=end:
    print(st[start],end="")
    start+=2 
start=-3
end=-2
while start<=end:
    print(st[start],end="")
    start+=1 
print()         
start=3
end=6
while start<=end:
    print(st[start],end="")
    start+=3
start=-5
while start==-5:
    print(st[start],end="")
    start+=1
print()
start=0
end=1
while start<=end:
    print(st[start],end="")
    start+=1
start=7
end=9
while start<=end:
    print(st[start],end="")
    start+=2
start=-1
while start==-1:
    print(st[start],end="")
    start+=1

hll wrld
eoo
12344

73.i/p:’(*12hello3$ $4#world4*)’
   o/p:’hllwrld’
   o/p:’eoo’
   o/p:’12344’
   o/p:’(*$ $#*)

In [105]:
st="(*12hello3$ $4#world4*)"
start=4
end=6
while start<=end:
    print(st[start],end="")
    start+=2
start=7
while start==7:
    print(st[start],end="")
    start+=1
start=15
while start==15:
    print(st[start],end="") 
    start+=1
start=17
end=19
while start<=end:
    print(st[start],end="")
    start+=1 
print()
start=5
end=8
while start<=end:
    print(st[start],end="")
    start+=3
start=16
while start==16:
    print(st[start],end="")
    start+=1
print()
start=2
end=3
while start<=end:
    print(st[start],end="")
    start+=1
start=9
end=13
while start<=end:
    print(st[start],end="")
    start+=4
start=20
while start==20:
    print(st[start],end="")
    start+=1
print()
start=0
end=1
while start<=end:
    print(st[start],end="")
    start+=1 
start=10
end=12
while start<=end:
    print(st[start],end="")
    start+=1
start=14
while start==14:
    print(st[start],end="")
    start+=1
start=21
end=22
while start<=end:
    print(st[start],end="")
    start+=1

hllwrld
eoo
12344
(*$ $#*)

75.i/p: ’(*12hello3$ $4#world4*)’
   o/p: ')*#$ $*(,44321,ooe,dlrwllh'

In [175]:
print("'",end="")
st="(*12hello3$ $4#world4*)"
start=-1
end=-2
while start>=end:
    print(st[start],end="")
    start-=1
start=-9
end=-11
while start>=end:
    print(st[start],end="")
    start-=2
start=11
end=12
while start<=end:
    print(st[start],end="")
    start+=1
start=1
end=0
while start>=end:
    print(st[start],end="")
    start-=1
print(",",end="") 
start=-3
end=-10
while start>=end:
    print(st[start],end="")
    start-=7 
start=9
while start==9:
    print(st[start],end="")
    start+=1
start=3
end=2
while start>=end:
    print(st[start],end="")
    start-=1
print(",",end="")
start=8
while start==8:
    print(st[start],end="")
    start+=1
start=8
end=5
while start>=end:
    print(st[start],end="")
    start-=3
print(",",end="")
start=19
end=17
while start>=end:
    print(st[start],end="")
    start-=1
start=15
end=18
while start<=end:
    print(st[start],end="")
    start+=3 
start=6
end=4
while start>=end:
    print(st[start],end="")
    start-=2

')*#$ $*(,44321,ooe,dlrwllh

76.i/p:’(*12hello3$ $4#world4*)’
   o/p:’hllwrld,eoo,12344,(*$ $#*)’

In [176]:
print("'",end="")
st="(*12hello3$ $4#world4*)"
start=4
end=6
while start<=end:
    print(st[start],end="")
    start+=2
start=7
while start==7:
    print(st[start],end="")
    start+=1
start=15
while start==15:
    print(st[start],end="") 
    start+=1
start=17
end=19
while start<=end:
    print(st[start],end="")
    start+=1 
print(",",end="")    
start=5
end=8
while start<=end:
    print(st[start],end="")
    start+=3
start=16
while start==16:
    print(st[start],end="")
    start+=1
print(",",end="")
start=2
end=3
while start<=end:
    print(st[start],end="")
    start+=1
start=9
end=13
while start<=end:
    print(st[start],end="")
    start+=4
start=20
while start==20:
    print(st[start],end="")
    start+=1
print(",",end="")
start=0
end=1
while start<=end:
    print(st[start],end="")
    start+=1 
start=10
end=12
while start<=end:
    print(st[start],end="")
    start+=1
start=14
while start==14:
    print(st[start],end="")
    start+=1
start=21
end=22
while start<=end:
    print(st[start],end="")
    start+=1

'hllwrld,eoo,12344,(*$ $#*)

77.i/p: ’(*12hello3$ $4#world4*)’
   o/p:’,hllwrld,)*#$ $*(’,eoo,44321’

In [177]:
print("'",end="")
print(",",end="")
start=4
end=6
while start<=end:
    print(st[start],end="")
    start+=2
start=7
while start==7:
    print(st[start],end="")
    start+=1
start=15
while start==15:
    print(st[start],end="") 
    start+=1
start=17
end=19
while start<=end:
    print(st[start],end="")
    start+=1 
print(",",end="")
start=-1
end=-2
while start>=end:
    print(st[start],end="")
    start-=1
start=-9
end=-11
while start>=end:
    print(st[start],end="")
    start-=2
start=11
end=12
while start<=end:
    print(st[start],end="")
    start+=1
start=11
end=12
while start<=end:
    print(st[start],end="")
    start+=1
start=1
end=0
while start>=end:
    print(st[start],end="")
    start-=1
print("'",end="")
print(",",end="")    
start=5
end=8
while start<=end:
    print(st[start],end="")
    start+=3
start=16
while start==16:
    print(st[start],end="")
    start+=1
print(",",end="")
start=-3
end=-10
while start>=end:
    print(st[start],end="")
    start-=7 
start=9
while start==9:
    print(st[start],end="")
    start+=1
start=3
end=2
while start>=end:
    print(st[start],end="")
    start-=1
print("'")

',hllwrld,)*#$ $ $*(',eoo,44321'

78.i/p: ’(*12hello3$ $4#world4*)’
   o/p: ')*#$ $*(,44321,ooe,dlrwllh'

In [178]:
print("'",end="")
st="(*12hello3$ $4#world4*)"
start=-1
end=-2
while start>=end:
    print(st[start],end="")
    start-=1
start=-9
end=-11
while start>=end:
    print(st[start],end="")
    start-=2
start=11
end=12
while start<=end:
    print(st[start],end="")
    start+=1
start=1
end=0
while start>=end:
    print(st[start],end="")
    start-=1
print(",",end="") 
start=-3
end=-10
while start>=end:
    print(st[start],end="")
    start-=7 
start=9
while start==9:
    print(st[start],end="")
    start+=1
start=3
end=2
while start>=end:
    print(st[start],end="")
    start-=1
print(",",end="")
start=8
while start==8:
    print(st[start],end="")
    start+=1
start=8
end=5
while start>=end:
    print(st[start],end="")
    start-=3
print(",",end="")
start=19
end=17
while start>=end:
    print(st[start],end="")
    start-=1
start=15
end=18
while start<=end:
    print(st[start],end="")
    start+=3 
start=6
end=4
while start>=end:
    print(st[start],end="")
    start-=2

')*#$ $*(,44321,ooe,dlrwllh

79.i/p: ’(*12hello3$ $4#world4*)’
   o/p:’dlrwllh)*#$ $*(ooe44321’

In [183]:
print("'",end="")
start=19
end=17
while start>=end:
    print(st[start],end="")
    start-=1
start=15
end=18
while start<=end:
    print(st[start],end="")
    start+=3 
start=6
end=4
while start>=end:
    print(st[start],end="")
    start-=2
start=-1
end=-2
while start>=end:
    print(st[start],end="")
    start-=1
start=-9
end=-11
while start>=end:
    print(st[start],end="")
    start-=2
start=11
end=12
while start<=end:
    print(st[start],end="")
    start+=1
start=1
end=0
while start>=end:
    print(st[start],end="")
    start-=1
start=8
while start==8:
    print(st[start],end="")
    start+=1
start=8
end=5
while start>=end:
    print(st[start],end="")
    start-=3
start=-3
end=-10
while start>=end:
    print(st[start],end="")
    start-=7 
start=9
while start==9:
    print(st[start],end="")
    start+=1
start=3
end=2
while start>=end:
    print(st[start],end="")
    start-=1
print("'")

'dlrwllh)*#$ $*(ooe44321'

80.I/p:’HELLOWORLD’
   o/p:’h$ll*w*rld’

In [39]:
st="'HELLOWORLD'"
start=0
while start==0:
    print(st[start],end="")
    start+=1
start=1
while start==1:
    print(chr(ord(st[start])+32),end="")
    start+=1       
start=2
while start==2:
    print("$",end="")
    start+=1
start=3
end=4
while start<=end:
    print(chr(ord(st[start])+32),end="")
    start+=1 
start=5
while start==5:
    print("*",end="")
    start+=1 
start=6
while start==6:
    print(chr(ord(st[start])+32),end="")
    start+=1         
start=7
while start==7:
    print("*",end="")
    start+=1
start=9
while start<len(st):
    print(chr(ord(st[start-1])+32),end="")
    start+=1
start=11
while start==11:
    print(st[start],end="")
    start+=1

'h$ll*w*rld'

81.I/p:’123HELLO WORLD456’
   o/p:’hllwrld21’

In [51]:
st="'123HELLO WORLD456'"
start=0
end=3
while start<=end:
    print(st[start],end="")
    start+=1
start=4
while start==4:
    print(chr(ord(st[start])+32),end="")
    start+=1 
start=6
end=7
while start<=end:
    print(chr(ord(st[start])+32),end="")
    start+=1
start=10
while start==10:
    print(chr(ord(st[start])+32),end="")
    start+=1
start=12
end=14
while start<=end:
    print(chr(ord(st[start])+32),end="")
    start+=1
start=15
while start==15:
    print("2",end="")
    start+=1
start=17
while start==17:
    print("1",end="")
    start+=1
start=18
while start==18:
    print(st[start],end="")
    start+=1

'123hllwrld21'

82.I/p:’123HELLO WORLD456’
   o/p:’123hEllO wOrld456’

In [59]:
st="'123HELLO WORLD456'"
start=0
end=3
while start<=end:
    print(st[start],end="")
    start+=1
start=4
while start==4:
    print(chr(ord(st[start])+32),end="")
    start+=1
start=5
while start==5:
    print(st[start],end="")
    start+=1
start=6
end=7
while start<=end:
    print(chr(ord(st[start])+32),end="")
    start+=1
start=8
end=9
while start<=end:
    print(st[start],end="")
    start+=1
start=10 
while start==10:
    print(chr(ord(st[start])+32),end="")
    start+=1
start=11
while start==11:
    print(st[start],end="")
    start+=1
start=12
end=14
while start<=end:
    print(chr(ord(st[start])+32),end="")
    start+=1
start=15
while start<len(st):
    print(st[start],end="")
    start+=1

'123hEllO wOrld456'

83.I/p:’123HELLO WORLD456’
   o/p:’321hEllO wOrld654’

In [69]:
st="'123HELLO WORLD456'"
start=0
while start==0:
    print(st[start],end="")
    start+=1  
start=3
end=1
while start>=end:
    print(st[start],end="")
    start-=1
start=4
while start==4:
    print(chr(ord(st[start])+32),end="")
    start+=1
start=5
while start==5:
    print(st[start],end="")
    start+=1
start=6
end=7
while start<=end:
    print(chr(ord(st[start])+32),end="")
    start+=1            
start=8
end=9
while start<=end:
    print(st[start],end="")
    start+=1
start=10 
while start==10:
    print(chr(ord(st[start])+32),end="")
    start+=1
start=11
while start==11:
    print(st[start],end="")
    start+=1
start=12
end=14
while start<=end:
    print(chr(ord(st[start])+32),end="")
    start+=1
start=17
end=15
while start>=end:
    print(st[start],end="")
    start-=1
start=18
while start==18:
    print(st[start],end="")
    start+=1

'321hEllO wOrld654'

84.I/p:’123HELLO WORLD456’
   o/p:’321*E**O *O***654’

85.I/p:’123HELLO WORLD456’
   o/p:’123*E**O *O***456’

86.I/p:’HELLOWORLD’
   o/p:’h$ll*w*rld'

In [52]:
st="'HELLOWORLD'"
start=0
while start==0:
    print(st[start],end="")
    start+=1
start=1
while start==1:
    print(chr(ord(st[start])+32),end="")
    start+=1       
start=2
while start==2:
    print("$",end="")
    start+=1
start=3
end=4
while start<=end:
    print(chr(ord(st[start])+32),end="")
    start+=1 
start=5
while start==5:
    print("*",end="")
    start+=1 
start=6
while start==6:
    print(chr(ord(st[start])+32),end="")
    start+=1         
start=7
while start==7:
    print("*",end="")
    start+=1
start=9
while start<len(st):
    print(chr(ord(st[start-1])+32),end="")
    start+=1
start=11
while start==11:
    print(st[start],end="")
    start+=1

'h$ll*w*rld'

87.i/p: ‘abc’
   i/p: ‘xyz’
   o/p:’axbycz’

In [53]:
st="abc"
st1="xyz"
start=0
while ord(st[start])<=ord(st1[start]):
    print(st[start]+st1[start],end="")
    start+=1

axbycz

IndexError: string index out of range

88.i/p: ‘abc’
   i/p: ‘xyzw’
   o/p:’axbyczw’

In [6]:
st="abc"
st1="xyzw"
start=0
while ord(st[start])<=ord(st1[start]):
    print(st[start]+st1[start],end="")
    start+=1

axbycz

IndexError: string index out of range

89.i/p: ‘abcd’
   i/p: ‘xyz’
   o/p:’axbyczd’

In [10]:
st="abcd"
st1="xyz"
start=0
while ord(st[start])<ord(st1[start]):
    print(st[start]+st1[start],end="")
    start+=1

axbycz

IndexError: string index out of range

90.i/p: ‘abc’
   i/p: ‘xyzwop’
   o/p:’axbyczwop’

91.i/p:’abc123’
   o/p:’a1b2c3’

92.i/p:’abc12’
   o/p:’a1b2c’

93.i/p: ‘abc1234’
   o/p: ‘a1b2c34’

94.i/p: ‘1a2bc34’
   o/p:’a1b2c34’

95.i/p:’abcdnmpoijkl12yzabcd5’
   o/p:3

96.I/P: ‘HAII HELLO’
O/P: ‘HA1I2I3 HE4LLO5’

97.I/P: ‘HAII HELLO’
   O/P: ‘H1AII 2H3EL4L5O'