In [31]:
l=[10,20,"hello","haii","abc"]   # modification of ending element
l[-1]="dharani"
print(l)

l=[10,20,"hello","haii","abc"]  # modification of ending element
l[0]="usha"
print(l)

l=[10,20,"hello","haii","abc"]   # modification of middle element
l[len(l)//2:len(l)//2]=["shobha"]
print(l)

[10, 20, 'hello', 'haii', 'dharani']
['usha', 20, 'hello', 'haii', 'abc']
[10, 20, 'shobha', 'hello', 'haii', 'abc']

In [27]:
l=[10,20,"hello","haii","abc"]   # concatenate ending of the given list
l[5:5]=["dharani"]
print(l)

l[0:0]=["durga"]                 # concatenate starting of the given list
print(l)
print(id(l))

l=[10,20,"hello","haii","abc","123"]   # concatenate middle of the given list
l=l[:len(l)//2]+["priya"]+l[len(l)//2:]
print(l)
print(id(l))

[10, 20, 'hello', 'haii', 'abc', 'dharani']
['durga', 10, 20, 'hello', 'haii', 'abc', 'dharani']
1535318412352
[10, 20, 'hello', 'priya', 'haii', 'abc', '123']
1535318418688

In [40]:
l=[10,20,"hello","haii","abc"]   # del of starting element
del l[0]
print(l)

l=[10,20,"hello","haii","abc"]   # del of ending element
del l[-1]
print(l)

l=[10,20,"hello","haii","abc"]   # del of the middle element
del l[len(l)//2]
print(l)

[20, 'hello', 'haii', 'abc']
[10, 20, 'hello', 'haii']
[10, 20, 'haii', 'abc']

1.

In [1]:
a="Hello World"
print(a)

Hello World

In [ ]:
2.

In [2]:
print("Hello World")

Hello World

3.

In [3]:
a=50
print(a)

50

4.

In [5]:
a=150
b=120
c=250
print(a)
print(b)
print(c)

150
120
250

5.

In [7]:
a="dharani"
print(type(a))

b=10
print(type(b))

<class 'str'>
<class 'int'>

6.

In [9]:
a=10
print(id(10))
print(id(a))

140731719476296
140731719476296

7.

In [13]:
name ="Dharani"
age = 22
mail = "gottamdharani7626@gmail.com"
print(name)
print(age)
print(mail)

Dharani
22
gottamdharani7626@gmail.com

8.

In [14]:
a=10
b=20
c=a
a=b
b=c
print(a)
print(b)

20
10

9.

In [15]:
a=10
b=20
a,b=b,a
print(a)
print(b)

20
10

10.

In [17]:
c=20
print(c)
c=100
print(c)

20
100

11.

In [21]:
a=10
b=str(a)
print(b)
c=list(b)
print(c)

10
['1', '0']

12.

In [ ]:
a ="dharani"

In [1]:
t=(12,"dharani",45.56,12,90,"usha",[13,34,35],"durga")
print(t)
t=t[:len(t)//2]+("priyanka",)+t[len(t)//2:]
print(t)

t=t+("sumathi",)
print(t)

(12, 'dharani', 45.56, 12, 90, 'usha', [13, 34, 35], 'durga')
(12, 'dharani', 45.56, 12, 'priyanka', 90, 'usha', [13, 34, 35], 'durga')
(12, 'dharani', 45.56, 12, 'priyanka', 90, 'usha', [13, 34, 35], 'durga', 'sumathi')

In [4]:
st="Dharani"  
st[:3]+"RA"+st[5:]

'DhaRAni'

In [16]:
st="dharani"  
print(st[:2]+"123456"+st[6:])
print(st[:2]+"b"+st[2+1:])
print(st[:5+1:+1])
print(st[2::+1])
print(st[:2]+st[2+1:])
print(st[:2]+st[4:])

dh123456i
dhbrani
dharan
arani
dhrani
dhani

In [20]:
st="hello world"
print(st[:5]+"12345"+st[5+1:])

hello12345world

In [27]:
l=[10,20,30,40,50]
print(l[0])
print(l[2:3+1:+1])
print(l)
l[3:3]=[100]
print(l)

10
[30, 40]
[10, 20, 30, 40, 50]
[10, 20, 30, 100, 40, 50]

In [1]:
l=[10,10,20,20,30,40,50,50]
res=list(set(l))
print(res)

[40, 10, 50, 20, 30]

In [4]:
l=[10,10,20,20,30,40,50,50]
res=[]
for i in l:
    if i not in res:
        res+=[i]
    print(res)

[10]
[10]
[10, 20]
[10, 20]
[10, 20, 30]
[10, 20, 30, 40]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]

In [7]:
st="dharani"  
print(st[::-1])
print(st[::+1])
print(st[3::+1])
print(st[3::-1])
print(st[::+2])
print(st[::-2])

inarahd
dharani
rani
rahd
daai
iaad

In [13]:
st="dharani"  
print(st[:2]+"12345"+st[2:])
print(st[:2]+"12345"+st[2+1:])
print(st[:2]+"12345"+st[5:])

dh12345arani
dh12345rani
dh12345ni

In [22]:
st="dharani"
print(st[:3]+st[7:])

dha

In [24]:
st="dharani"
print(st[::-1])

st="dharani"
start=-1
end=-len(st)
while start>=end:
    print(st[start],end="")
    start-=1

inarahd
inarahd

In [38]:
l=[10,20,30,40,50,["apple","banana"]]
print(l)

m=l.copy()
print(m)
l[0:0]=[100,200]
print(l)
print(m)
m[5][0]=["grapes"]
print(l)
print(m)

[10, 20, 30, 40, 50, ['apple', 'banana']]
[10, 20, 30, 40, 50, ['apple', 'banana']]
[100, 200, 10, 20, 30, 40, 50, ['apple', 'banana']]
[10, 20, 30, 40, 50, ['apple', 'banana']]
[100, 200, 10, 20, 30, 40, 50, [['grapes'], 'banana']]
[10, 20, 30, 40, 50, [['grapes'], 'banana']]

In [55]:
l=[10,20,30,40,50,["apple","banana"],("dharani","usha")]
print(l)
import copy
m=copy.deepcopy(l)
print(m)
l[0:0]=[100,200]
print(l)
print(m)
m[5][0]="grapes"
print(l)
print(m)

l[6][0]="narasimha sumathi"
print(l)
print(m)

[10, 20, 30, 40, 50, ['apple', 'banana'], ('dharani', 'usha')]
[10, 20, 30, 40, 50, ['apple', 'banana'], ('dharani', 'usha')]
[100, 200, 10, 20, 30, 40, 50, ['apple', 'banana'], ('dharani', 'usha')]
[10, 20, 30, 40, 50, ['apple', 'banana'], ('dharani', 'usha')]
[100, 200, 10, 20, 30, 40, 50, ['apple', 'banana'], ('dharani', 'usha')]
[10, 20, 30, 40, 50, ['grapes', 'banana'], ('dharani', 'usha')]

TypeError: 'int' object does not support item assignment

NameError: name 'copy' is not defined

In [6]:
# wap to check the given string is pangram or not.

str="the quick brown fox jumps over the lazy dog"
alpha="abcdefghijklmnopqrstuvwxyz"
for str in alpha:
    if str not in alpha:
        print("not a pangram")
else:
    print("pangram")

pangram

In [16]:
str="DHARANI"
alpha="abcdefghijklmnopqrstuvwxyz"
for str in alpha:
    if str not in alpha:
        print("not a pangram")
#else:
 #   print("pangram")

In [48]:
# wap to print the count of upper case and lowercase letters in a given string.

str="DHAraNI"
count=0
count1=0
for i in str:
    if (i.islower()):
        count+=1    
    elif(i.isupper()):
        count1+=1 
print("uppercase",count)
print("lowercase",count1)

uppercase 2
lowercase 5

In [46]:
# wap to print the count of upper case and lowercase letters in a given string.

str="dharani"
start=0
count=0
count1=0
for i in str:
    if "A"<=str[start]<="Z":
        count+=1    
    elif "a"<=str[start]<="z":
        count1+=1 
print("uppercase",count)
print("lowercase",count1)

uppercase 0
lowercase 7

In [41]:
# wap to print the count of upper case and lowercase letters in a given string.

str="DhaRaNI"
start=0
count=0
count1=0
while start<len(str):
    if "A"<=str[start]<="Z":
        count+=1   
    elif "a"<=str[start]<="z":
        count1+=1
    start+=1
print("uppercase",count)   
print("lowercase",count1)

uppercase 4
lowercase 3

In [54]:
# wap to remove odd indexed characters in a string 

st="Dharani"   
start=0
for i in st:
    if start%2==0:
        print(st[start],end="")
    start+=1

Daai

In [73]:
# wap to print the largest word from the list

l=["apple","dharani","usha","mango"]
max1=len(l[0])
temp=l[0]
for i in l:
    if(len(i)>max1):
       max1=len(i)
       temp=i
print("longest word length is:",end="")
print(temp)

longest word length is:dharani

In [74]:
# wap to print the smallest word from the list

l=["apple","dharani","usha","mango"]
max1=len(l[0])
temp=l[0]
for i in l:
    if(len(i)<max1):
       max1=len(i)
       temp=i
print("longest word length is:",end="")
print(temp)

longest word length is:usha

In [5]:
st="Dharani" 
n=0  
start=st[:n]
end=st[n+1:]
print(st)
n=input("enter a character to remove")
print(n)

Dharani
a

In [7]:
# wap to remove the nth index from the non empty string.

def remove(string,n):
    first=string[:n]
    last=string[n+1:]
    return first+last
string=input("enter the string:")
n=int(input("enter the index value"))
print("modified string")
print(remove(string,n))

modified string
dharan

In [ ]:
# Python Program to Replace Every Blank Space with Hyphen in a String.

In [20]:
st=input("enter the string:")
st=st.replace(' ','-')
print("modified string :")
print(st)

modified string :
d-h-a-r-a-n-i

In [24]:
st="D h a r a n i"             
start=0
while start<len(st):
    if st[start]==' ':
        print(" ","-",st,end=" ")
    start+=1

  - D h a r a n i   - D h a r a n i   - D h a r a n i   - D h a r a n i   - D h a r a n i   - D h a r a n i

In [ ]:
# Python Program to Count Number of Lowercase Characters in a String

In [30]:
st="Dharani"    
start=0
count=0
while start<len(st):
    if "a"<=st[start]<="z":
        count+=1
    start+=1
print(" no of lowercase characters : ",count,end=" ")

 no of lowercase characters :  6

In [2]:
# Python Program to Replace All Occurrences of ‘a’ with $ in a String

st="dharani"     
start=0
while start<len(st):
    if "a" in st[start]:
        print("$",end=" ")   
    start+=1

$ $

In [1]:
st=input("enter the string:")
st=st.replace('a','@')
print("modified string :")
print(st)

modified string :
dh@r@ni

In [3]:
# Write a Python program to reverse a given string.

# Reverse a String using Slicing

st="dharani"   
print("the reverse string is : ",st[::-1])

the reverse string is :  inarahd

In [4]:
# Reverse a String using Recursion

st=input("enter a string:")
def reverse(string):
    if len(string)==0:
        return string
    else:
        return reverse(string[1:])+string[0]
print(reverse(st))

inarahd

In [18]:
# Reverse a String using Loops

st="dharani"   
start=-1
while start>(-len(st)-1):
    print(st[start],end="")
    start-=1


print()


st="dharani"
str=" "   
for i in st:
    str=i+str
print(str)

inarahd
inarahd

In [19]:
# Python Program to Determine How Many Times a Given Letter Occurs in a String Recursively

st=input("enter a string:")
str=input("enter a character:")
if st[0]==str:
    print(1+str(st[1:],str))
else:
    print(str(st[1:],str))
    print(count)

TypeError: 'str' object is not callable

In [23]:
string=input("Enter string:")
ch=input("Enter character to check:")
def check(string,ch):
      if not string:
        return 0
      elif string[0]==ch:
            return 1+check(string[1:],ch)
      else:
            return check(string[1:],ch)
print("Count is:")
print(check(string,ch))

Count is:
2

In [26]:
# Python Program to Calculate the Length of a String Without using Library Functions

st="dharani"     
count=0
start=0
while start<len(st):
    count+=1
    start+=1
print("length of the given string is : ",count)

length of the given string is :  7

In [29]:
st="dharani"
count=0   
for i in st:
    count+=1
print("len of the given string is : ",count)

len of the given string is :  7

In [45]:
# Python Program to Count the Number of Words and Characters in a String.

st="dharani,vinitha,lavanya,pavani"
count=0
count1=1
start=0
while start<len(st):
        count+=1
        if (st[start]==","):
            count1+=1    
        start+=1
print("no of characters from the given string : ",count)  
print("no of words from the given string : ",count1)

no of characters from the given string :  30
no of words from the given string :  4

In [39]:
st=input("enter a string: ")
char=0
word=1
for i in st:
    char+=1
    if(i==','):
        word+=1
print("no of words in a given string : ",word)
print("no of characters in the given string : ",char)

no of words in a given string :  4
no of characters in the given string :  30

In [ ]:
# Python Program to Count Number of Lowercase Characters in a String