In [3]:
# WAP to extract the characters from the given string using for loop.

st="MOBILE"
for i in st:
    print(i,end=" ")

M O B I L E

In [6]:
# WAP to extract the values from the list.

l=[1,2,3,4,5,6,7]
for i in l:
    print(i,end=" ")

1 2 3 4 5 6 7

In [7]:
# WAP to extract the values from the tuple.

t=(1,2,3,4,5,6,7)
for i in t:
    print(i,end=" ")

1 2 3 4 5 6 7

In [8]:
# WAP to extract the values from the tuple.

s={1,2,3,4,5,6,7}
for i in s:
    print(i,end=" ")

1 2 3 4 5 6 7

In [12]:
# WAP to extract the keys from the dictionary.

d={1:10,2:20,3:30,4:40,5:50,6:60,7:70}
for i in d:
    print(i,end=" ")

1 2 3 4 5 6 7

In [11]:
# WAP to extract the keys from the dictionary.

d={1:10,2:20,3:30,4:40,5:50,6:60,7:70}
for i in d:
    print(d[i],end=" ")

10 20 30 40 50 60 70

In [18]:
#WAP to print the numbers from 1 to 20 with the differnce 2.

for i in range(1,20,2):
    print(i,end=" ")

1 3 5 7 9 11 13 15 17 19

In [36]:
# WAP to extract and store the data items in different from given collection.

st="HELLO WORLD"
res=""
for i in st:
    res+=i
print(res)

l=["dharani","usha",23,22,["sumathi","narasimha rao",10]]
res=[]
for i in l:
    res+=[i]
print(res) 

t=("dharani","usha",23,22,["sumathi","narasimha rao",10])
res=()
for i in t:
    res+=(i,)
print(res) 

s={"dharani","usha",23,22,("sumathi","narasimha rao",10)}
res=set()
for i in s:
    res|={i}
print(res) 

d={1:"dharani",2:"usha",3:"narasimharao",4:"sumathi"}
res={}
for i in d:
    res|={i:d[i]}
print(res)

HELLO WORLD
['dharani', 'usha', 23, 22, ['sumathi', 'narasimha rao', 10]]
('dharani', 'usha', 23, 22, ['sumathi', 'narasimha rao', 10])
{'usha', 22, 23, 'dharani', ('sumathi', 'narasimha rao', 10)}
{1: 'dharani', 2: 'usha', 3: 'narasimharao', 4: 'sumathi'}

In [39]:
# wap to extract and store the uppercase characters from given string.

st="DHARANIgottam" 
res="" 
for i in st:
    if "A"<=i<="Z":
        res+=i
print(res)

DHARANI

In [40]:
# wap to extract and store the lowercase characters from given string.

st="DHARANIgottam" 
res="" 
for i in st:
    if "a"<=i<="z":
        res+=i
print(res)

gottam

In [42]:
# wap to extract and store the special characters and ascii numbers from given string.

n="1d2h3a4r#a@n$56%&*"
res=""
for i in n:
    if not ("A"<=i<="Z" or "a"<=i<="z"):
        res+=i
print(res)

1234#@$56%&*

In [49]:
# wap to extract and store the character with ascii value from given string.

n="dhar#a@n$%&*"
res=""
for i in n:
    res+=i+str(ord(i))
print(res,end=" ")

d100h104a97r114#35a97@64n110$36%37&38*42

In [1]:
# wap to seperate the different characters from the given string.

st="DHA!Rani7626@#$%"
uc,lc,sp,asnu="","","",""  
for i in st:
    if "A"<=i<="Z":
        uc+=i
    elif "a"<=i<="z":
        lc+=i
    elif "0"<=i<="9":
        asnu+=i
    else:
        sp+=i
print(uc,lc,sp,asnu)

DHAR ani !@#$% 7626

In [5]:
# wap to given string(password) is valid or not.
# string should contain one uppercase/one lowercase/one numeric/one special character.

st="Gottamdharani7626@gmail.com"  
uc,lc,sp,asnu="","","",""
for i in st:
    if "A"<=i<="Z":
        uc+=i
    elif "a"<=i<="z":
        lc+=i
    elif "0"<=i<="9":
        asnu+=i
    else:
        sp+=i
if len(uc)>=1 and len(lc)>=1 and len(sp)>=1 and len(asnu)>=1:
    print("Password is Valid")
else:
    print("Password is Invalid")

Password is Valid

In [54]:
# wap to given string(password) is valid or not.
# string should contain one uppercase/one lowercase/one numeric/one special character.

st="gottamdharani7626@gmail.com"  
uc,lc,sc,asnu="","","",""
for i in st:
    if "A"<=i<="Z":
        uc+=i
    elif "a"<=i<="z":
        lc+=i
    elif "0"<=i<="9":
        asnu+=i
    else:
        sp+=i
if len(uc)>=1 and len(lc)>=1 and len(sp)>=1 and len(asnu)>=1:
    print("Password is Valid")
else:
    print("Password is Invalid")

Password is Invalid

In [59]:
# wap to given string(password) is valid or not. string should be morethan 5 and less than 15 characters.
# string should contain one uppercase/one lowercase/one numeric/one special characters.

st="Gdharani7626@"
if len(st)>5 and len(st)<=15:
    uc,lc,sp,asnu="","","",""
    for i in st:
        if "A"<=i<="Z":
            uc+=i
        elif "a"<=i<="z":
            lc+=i
        elif "0"<=i<="9":
            asnu+=i
        else:
            sp+=i
    if len(uc)>=1 and len(lc)>=1 and len(sp)>=1 and len(asnu)>=1:
        print("Password is Valid")
    else:
        print("Password is Invalid") 
else:
    print("Password is Invalid")

Password is Valid

In [60]:
# wap to given string(password) is valid or not. string should be morethan 5 and less than 15 characters.
# string should contain one uppercase/one lowercase/one numeric/one special characters.

st="Gdharani7626@#$512340987"
if len(st)>5 and len(st)<=15:
    uc,lc,sp,asnu="","","",""
    for i in st:
        if "A"<=i<="Z":
            uc+=i
        elif "a"<=i<="z":
            lc+=i
        elif "0"<=i<="9":
            asnu+=i
        else:
            sp+=i
    if len(uc)>=1 and len(lc)>=1 and len(sp)>=1 and len(asnu)>=1:
        print("Password is Valid")
    else:
        print("Password is Invalid") 
else:
    print("Password is Invalid")

Password is Invalid

In [69]:
# wap to convert uppercase to lowercase in given string.

st="DHARANI" 
uc=""   
for i in st:
    if "A"<=i<="Z":
        uc+=chr(ord(i)+32)
    else:
        uc+=i    
print(uc)

dharani

In [72]:
# wap to convert lowercase to uppercase in given string.

st="dharani" 
sc=""   
for i in st:
    if "a"<=i<="z":
        sc+=chr(ord(i)-32)
    else:
        uc+=i    
print(sc)

DHARANI

In [76]:
# wap to convert lowercase to uppercase and vice verse in given string.

st="dharaniDHARANI1234"
res=""  
for i in st:
    if "a"<=i<="z":
        res+=chr(ord(i)-32)
    elif "A"<=i<="Z":
        res+=chr(ord(i)+32) 
    else:
        res+=i
print(res)

DHARANIdharani1234

In [77]:
st="dharanigottam"
for i in st:
    print(i)

d
h
a
r
a
n
i
g
o
t
t
a
m

In [81]:
st="gottamdharani"
res=""
for i in st:
    res=i+res
print(res)

inarahdmattog

In [83]:
st="gottamdharani"
res=""
for i in st:
    res+=i
print(res[::-1])

inarahdmattog

In [84]:
st="gottamdharani"
res=""  
for i in st[::-1]:
    res+=i
print(res)

inarahdmattog

In [88]:
st="gottamdharani" 
for i in st[::-1]:
    print(i,end="")

inarahdmattog

In [92]:
st="gottamdharani"  
for i in range(len(st)-1,-1,-1):
    print(st[i],end="")

inarahdmattog

In [94]:
st="gottamdharani"
ind=len(st)-1
for i in st:
    print(st[ind],end="")
    ind-=1

inarahdmattog

In [106]:
# WAP to extract the even index values.

st="dharani" 
count=0 
for i in st:
    if count%2==0:
        print(i,end="")
    count+=1 

print()

st="dharani"  
for i in range(0,len(st),2):
    print(st[i],end="") 

print()

st="narasimharao"
for i in range(0,len(st)):
    if i%2==0:
        print(st[i],end="")

print()

st="narasimharao"  
for i in st[::2]:
    print(i,end="")

daai
daai
nrsmaa
nrsmaa

In [108]:
# WAP to print the another variable in the place of repeated characters.

st="gottamdharani"
res=""  
for i in st:
    if i not in res:
        res+=i
    else:
        res+="😍"
print(res)

got😍amdh😍r😍ni

In [8]:
st="Ni@te_sh$"
start=0
end=len(st)
if st[start] in "A"<=st[start]<="Z" and "a"<=st[start]<="z":
    start+=1
# elif st[start] not in "A"<=st[start]<="Z" and "a"<=st[start]<="z" and "0"<=st[start]<="9":
#     start+=1    
print(st[::-1])

$hs_et@iN