In [2]:
class college:
    pass

In [3]:
college

__main__.college

In [5]:
print(college)

<class '__main__.college'>

In [6]:
college.__dict__

mappingproxy({'__module__': '__main__',
              '__dict__': <attribute '__dict__' of 'college' objects>,
              '__weakref__': <attribute '__weakref__' of 'college' objects>,
              '__doc__': None})

In [7]:
class college:                        # ACCESSING THE CLASS VARIABLES INSIDE THE CLASS
    clg_name="pyspiders"
    address="hyd"
    website="www.PYSPIDERS.com"
    phone=9988776655
    print(clg_name,address,website,phone)

pyspiders hyd www.PYSPIDERS.com 9988776655

In [8]:
class college:
    clg_name="pyspiders"
    address="hyd"
    website="www.PYSPIDERS.com"
    phone=9988776655
print(clg_name,address,website,phone)

NameError: name 'clg_name' is not defined

In [9]:
class college:                    # ACCESSING THE CLASS VARIABLES OUTSIDE THE CLASS
    clg_name="pyspiders"
    address="hyd"
    website="www.PYSPIDERS.com"
    phone=9988776655
    print(college.clg_name,college.address,college.website,college.phone)

pyspiders hyd www.PYSPIDERS.com 9988776655

In [10]:
class college:
    clg_name="pyspiders"
    address="hyd"
    website="www.PYSPIDERS.com"
    phone=9988776655
    print(college.clg_name,college.address,college.website,college.phone)
    print(college.staff)

pyspiders hyd www.PYSPIDERS.com 9988776655

AttributeError: type object 'college' has no attribute 'staff'

In [11]:
class college:
    clg_name="pyspiders"
    address="hyd"
    print(clg_name,address)  # accssing the class variables inside the class
res=college()# object creation for the college class or Instance memory creation
print(res)
print(college.clg_name,college.address) # accessing the class variables out side of the class by using class address
print(res.clg_name,res.address)  # accessing the class variable out side of the class by using object address

pyspiders hyd
<__main__.college object at 0x000002857D3B9490>
pyspiders hyd
pyspiders hyd

In [12]:
college.__dict__

mappingproxy({'__module__': '__main__',
              'clg_name': 'pyspiders',
              'address': 'hyd',
              '__dict__': <attribute '__dict__' of 'college' objects>,
              '__weakref__': <attribute '__weakref__' of 'college' objects>,
              '__doc__': None})

In [13]:
res.__dict__

{}

EXERCISE

* create a class customer with the fields cust id,cust_name,cust_address,display the customer details by using class address.
  (out side of the class) and display the customer details by using object address

EXERCISE

* create a class bank with the fields bank_code,bank_name,bank_address and etc.
     (minimum six class attributes should be there)
  display the bank details.(inside of the class)
  display the bank details by using object address.

In [14]:
class customer:
    cust_id=123456
    cust_name="Dharani"   
    cust_address="sattenapalli"
    print(cust_id,cust_name,cust_address)
res=customer()
print(res)
print(customer.cust_id,customer.cust_name,customer.cust_address)

123456 Dharani sattenapalli
<__main__.customer object at 0x000002857B8E1010>
123456 Dharani sattenapalli

In [15]:
class bank:
    bank_name="andhra bank"
    bank_code="ANDH1234"
    bank_address="sattenapalli"
    bank_manager="usha"
    field_officer="harika"
    bank_cashier="vinay"
    print(bank_name,bank_code,bank_address,bank_manager,field_officer,bank_cashier)
res=bank()
print(res)
print(bank.bank_name,bank.bank_code,bank.bank_address,bank.bank_manager,bank.field_officer,bank.bank_cashier)

andhra bank ANDH1234 sattenapalli usha harika vinay
<__main__.bank object at 0x000002857D3F04D0>
andhra bank ANDH1234 sattenapalli usha harika vinay

OBJECT 

* an object is a variable of type class,object is an instance of a class.
* class will be specify what to store and what to do , whereas the object will store what is specified by the class and does what it said 
  object in real world entity.

SYNTAX

      object_name=class_name(arguments)

* arguments are nothing but the data that we wanted to store it inside the object memory (sometimes arguments are not mandatory)
* when we create an object after execution of the program , as soon as the control reaches the object creation statement then it 
  creates the dictionary memory in the value space.

In [16]:
class sample:   # class definition class /generic/static states
    x=10        # class state initializaion
    y=20
obj=sample()      # object creation   object/specific/non static states
obj.m=100         # object state initialization
obj.n=200

In [17]:
print(sample)
print(sample.__dict__)
sample.__dict__
print(sample.x,sample.y)

<class '__main__.sample'>
{'__module__': '__main__', 'x': 10, 'y': 20, '__dict__': <attribute '__dict__' of 'sample' objects>, '__weakref__': <attribute '__weakref__' of 'sample' objects>, '__doc__': None}
10 20

In [18]:
sample.__dict__

mappingproxy({'__module__': '__main__',
              'x': 10,
              'y': 20,
              '__dict__': <attribute '__dict__' of 'sample' objects>,
              '__weakref__': <attribute '__weakref__' of 'sample' objects>,
              '__doc__': None})

In [19]:
obj.__dict__

{'m': 100, 'n': 200}

In [20]:
print(sample)
print(sample.__dict__)
print(obj.m,obj.n,obj.x,obj.y)

<class '__main__.sample'>
{'__module__': '__main__', 'x': 10, 'y': 20, '__dict__': <attribute '__dict__' of 'sample' objects>, '__weakref__': <attribute '__weakref__' of 'sample' objects>, '__doc__': None}
100 200 10 20

In [21]:
print(obj)
print(obj.__dict__)
print(obj.m,obj.n,obj.x,obj.y)

<__main__.sample object at 0x000002857D3F0190>
{'m': 100, 'n': 200}
100 200 10 20

GENERIC/CLASS STATE FUNCTIONALITIES

INITIALIZATION :
--------------
SYNTAX:
------        class_address/name.variable name=new value

FETCH :
-----
SYNTAX :
------         class_address.variable name

REINITIALIZATION :
-----------------
SYNTAX :
------          class_address.variable name=new value
                                 |
                                 |
                         existing variable

DELETION :
--------
SYNTAX :
------         del class_address.variablename

In [22]:
# FUNCTION CALLING OUTSIDE THE CLASS

class demo:
    x=10

# initialization
demo.y=['a']  
# Fetch         o/p:['a']
print(demo.y)
# Re initialization
demo.y={'a':10}
# Fetch
print(demo.y)   # o/p:{'a':10}
# Delete
del demo.y
# Fetch           o/p:error
print(demo.y)

['a']
{'a': 10}

AttributeError: type object 'demo' has no attribute 'y'

In [23]:
demo.__dict__

mappingproxy({'__module__': '__main__',
              'x': 10,
              '__dict__': <attribute '__dict__' of 'demo' objects>,
              '__weakref__': <attribute '__weakref__' of 'demo' objects>,
              '__doc__': None})

In [24]:
# FUNCTION CALLING INSIDE THE CLASS

class demo:         
    # initialization
    abc=100
    #fetch
    print(abc)
    #reinitialization
    abc=300
    #fetch
    print(abc)
    #deletion
    del abc
    #fetch
    print(abc)

100
300

NameError: name 'abc' is not defined

GENERIC/OBJECT STATE FUNCTIONALITIES

INITIALIZATION :
--------------
SYNTAX:
------        object_address/name.variable name=new value

FETCH :
-----
SYNTAX :
------         object_address.variable name

REINITIALIZATION :
-----------------
SYNTAX :
------          object_address.variable name=new value
                                 |
                                 |
                         existing variable

DELETION :
--------
SYNTAX :
------         del object_address.variablename

In [25]:
class demo:
    x=10

obj=demo()
#initialization
obj.apple=10
#fetch
print(obj.apple)
#reinitialization
obj.apple=50
#fetch
print(obj.apple)
# deletion
del obj.apple
#fetch
print(obj.apple)

10
50

AttributeError: 'demo' object has no attribute 'apple'

In [26]:
class school:
    school_name="Z.P.G.H school"
    sc_address="sattenapalli"
    staff_no=15
    sc_principal_name="rajini"
    print(school_name,sc_address,staff_no,sc_principal_name)

Z.P.G.H school sattenapalli 15 rajini

In [3]:
class school:
    school_name="Z.P.G.H school"
    sc_address="sattenapalli"
    staff_no=15
    sc_principal_name="rajini"
print(school.school_name,school.sc_address,school.staff_no,school.sc_principal_name)

Z.P.G.H school sattenapalli 15 rajini

In [14]:
class school:
    school_name="Z.P.G.H school"
    school_address="sattenapalli"
    staff_no=15
    sc_principal_name="rajini"
    print(school_name,school_address,staff_no,sc_principal_name)   # calling inside the class
stu1=school()    
stu1.name="dharani"  
stu1.roll_no=1234566
stu1.m1=95
stu1.m2=90
stu1.m3=89
stu1.totalmarks=300
print(school.school_name,school.school_address,school.staff_no,school.sc_principal_name)  # calling outside the class
print(stu1)
print(stu1.name,stu1.roll_no,stu1.m1,stu1.m2,stu1.m3,stu1.totalmarks)

Z.P.G.H school sattenapalli 15 rajini
Z.P.G.H school sattenapalli 15 rajini
<__main__.school object at 0x00000237B546F450>
dharani 1234566 95 90 89 300

In [11]:
class school:
    school_name="Z.P.G.H school"
    school_address="sattenapalli"
    staff_no=15
    sc_principal_name="rajini"
stu1=school()    
stu1.name="dharani"  
stu1.roll_no=1234566
stu1.m1=95
stu1.m2=90
stu1.m3=89
stu1.totalmarks=300
print(school.school_name,school.school_address,school.staff_no,school.sc_principal_name)
print(stu1)
print(stu1.name,stu1.roll_no,stu1.m1,stu1.m2,stu1.m3,stu1.totalmarks) 
per=((stu1.m1+stu1.m2+stu1.m3)/stu1.totalmarks)*100
print(f"{stu1.name} total percentage ",per)

Z.P.G.H school sattenapalli 15 rajini
<__main__.school object at 0x00000237B548D990>
dharani 1234566 95 90 89 300
dharani total percentage  91.33333333333333

In [12]:
stu1.__dict__

{'name': 'dharani',
 'roll_no': 1234566,
 'm1': 95,
 'm2': 90,
 'm3': 89,
 'totalmarks': 300}

EXAMPLE

In [11]:
class school:
    school_name="Z.P.G.H school"
    school_address="sattenapalli"
    staff_no=15
    sc_principal_name="rajini"
    print(school_name,school_address,staff_no,sc_principal_name)   # calling inside the class
stu1=school()    
stu1.name="dharani"  
stu1.roll_no=1234566
stu1.m1=95
stu1.m2=90
stu1.m3=89
stu1.totalmarks=300
print(stu1.school_name,stu1.school_address,stu1.staff_no,stu1.sc_principal_name,stu1.name,stu1.roll_no,stu1.m1,stu1.m2,stu1.m3,stu1.totalmarks)  # calling outside the class
per=((stu1.m1+stu1.m2+stu1.m3)/stu1.totalmarks)*100
print(f"{stu1.name} total percentage ",per)
print(stu1)
print(stu1.name,stu1.roll_no,stu1.m1,stu1.m2,stu1.m3,stu1.totalmarks)

Z.P.G.H school sattenapalli 15 rajini
Z.P.G.H school sattenapalli 15 rajini dharani 1234566 95 90 89 300
dharani total percentage  91.33333333333333
<__main__.school object at 0x000001F0B82A67D0>
dharani 1234566 95 90 89 300

In [12]:
stu2=school()    
stu2.name="usha"  
stu2.roll_no=1234566
stu2.m1=95
stu2.m2=90
stu2.m3=89
stu2.totalmarks=300
print(stu2.school_name,stu2.school_address,stu2.staff_no,stu2.sc_principal_name,stu2.name,stu2.roll_no,stu2.m1,stu2.m2,stu2.m3,stu2.totalmarks)
per= ((stu2.m1+stu2.m2+stu2.m3)/stu2.totalmarks)*100
print(stu2)
print(stu2.name,stu2.roll_no,stu2.m1,stu2.m2,stu2.m3,stu2.totalmarks) 
print(f"{stu2.name} total percentage",per)

Z.P.G.H school sattenapalli 15 rajini usha 1234566 95 90 89 300
<__main__.school object at 0x000001F0B82C0CD0>
usha 1234566 95 90 89 300
usha total percentage 91.33333333333333

In [22]:
class school:
    school_name="Z.P.G.H school"
    school_address="sattenapalli"
    staff_no=15
    sc_principal_name="rajini"
    print(school_name,school_address,staff_no,sc_principal_name)   # calling inside the class
stu1=school()
def create_student(obj,name,roll,phone,mark1,mark2,mark3,total):    
    obj.name=name 
    obj.roll_no=roll
    obj.phone=phone
    obj.m1=mark1
    obj.m2=mark2
    obj.m3=mark3
    obj.totalmarks=total
    print(obj.school_name,obj.school_address,obj.staff_no,obj.sc_principal_name,obj.name,obj.roll_no,obj.m1,obj.m2,obj.m3,obj.totalmarks)  # calling outside the class
    per=((obj.m1+obj.m2+obj.m3)/obj.totalmarks)*100
    print(f"{obj.name} total percentage ",per)
    print(obj)
    print(obj.name,obj.roll_no,obj.m1,obj.m2,obj.m3,obj.totalmarks)
create_student(stu1,"usha",1234567,7075092335,90,98,99,300)

stu2=school() 
create_student(stu2,"maneesha",1234568,7075092336,93,98,95,300)

Z.P.G.H school sattenapalli 15 rajini
Z.P.G.H school sattenapalli 15 rajini usha 1234567 90 98 99 300
usha total percentage  95.66666666666667
<__main__.school object at 0x000001F0B835D990>
usha 1234567 90 98 99 300
Z.P.G.H school sattenapalli 15 rajini maneesha 1234568 93 98 95 300
maneesha total percentage  95.33333333333334
<__main__.school object at 0x000001F0B827D250>
maneesha 1234568 93 98 95 300

In [35]:
class school:
    school_name="Z.P.G.H school"
    school_address="sattenapalli"
    staff_no=15
    sc_principal_name="rajini"
    print(school_name,school_address,staff_no,sc_principal_name) 
    def create_student(obj,name,roll,phone,mark1,mark2,mark3,total):    
        obj.name=name 
        obj.roll_no=roll
        obj.phone=phone
        obj.m1=mark1
        obj.m2=mark2
        obj.m3=mark3
        obj.totalmarks=total
        print(obj.school_name,obj.school_address,obj.staff_no,obj.sc_principal_name,obj.name,obj.roll_no,obj.m1,obj.m2,obj.m3,obj.totalmarks)  # calling outside the class
        print(obj.name,obj.roll_no,obj.m1,obj.m2,obj.m3,obj.totalmarks)
        per=((obj.m1+obj.m2+obj.m3)/obj.totalmarks)*100
        print(f"{obj.name} total percentage ",per)

stu1=school()
school.create_student(stu1,"dharani",12345678,8328602360,98,97,96,300)

stu2=school()
school.create_student(stu2,"usha",123456789,7075092335,97,95,93,300)

Z.P.G.H school sattenapalli 15 rajini
Z.P.G.H school sattenapalli 15 rajini dharani 12345678 98 97 96 300
dharani 12345678 98 97 96 300
dharani total percentage  97.0
Z.P.G.H school sattenapalli 15 rajini usha 123456789 97 95 93 300
usha 123456789 97 95 93 300
usha total percentage  95.0

In [36]:
school.__dict__

mappingproxy({'__module__': '__main__',
              'school_name': 'Z.P.G.H school',
              'school_address': 'sattenapalli',
              'staff_no': 15,
              'sc_principal_name': 'rajini',
              'create_student': <function __main__.school.create_student(obj, name, roll, phone, mark1, mark2, mark3, total)>,
              '__dict__': <attribute '__dict__' of 'school' objects>,
              '__weakref__': <attribute '__weakref__' of 'school' objects>,
              '__doc__': None})

INHERITENCE :

In [3]:
class bank:
    bank_name='ICICI'
    IFSC='ICICI00123'
    address='Mysore'
    cust_no=0
    cust_details={}
    def __init__(self,name,age,bal=500):
        self.c_name=name 
        self.c_age=age
        self.c_bal=bal
        self.cust_no_inc()
        self.acc_no=int('101020'+str(self.cust_no)) 
        self.cust_details_inc(self.acc_no, self)
    @classmethod
    def cust_no_inc(cls):
       cls.cust_no+=1

    @classmethod

    def cust_details_inc(cls,key,value): 
        cls.cust_details[key]=value

    def deposit (self):
        n=int(input("enter the ACC_ID:"))
        if self.acc_no==n:
            amount=int(input("enter the Amount:"))
            self.c_bal+=amount
            print("tran is success")
            print("Your currenr bal is :",self.c_bal)
        else:
            print("invalid acc No")
priya=bank('priya',23)

In [4]:
print(priya.__dict__)
print(bank.cust_no)
print(bank.cust_details)

{'c_name': 'priya', 'c_age': 23, 'c_bal': 500, 'acc_no': 1010201}
1
{1010201: <__main__.bank object at 0x000002169CEA8B10>}

In [12]:
class bank_1(bank):
    ROI=7
    def __init__(self,name,age,email,phone,bal=500):
        self.c_name=name
        self.c_age=age
        self.c_email=email
        self.c_phone=phone
        self.c_bal=bal
        self.cust_no_inc()
        self.acc_no=int('101020'+str(self.cust_no))
        self.cust_details_inc(self.acc_no,self)
    def withdraw(self):
        n=int(input("enter the ACC_No:"))
        if self.acc_no==n:
            amount=int(input("enter the amount:"))
            if amount<=self.c_bal-500:
                self.c_bal-=amount
                print("tran is successful")
                print("your withdrawl amount:",amount)
                print("your current bal is :",self.c_bal)
            else:
                print("insufficient amount")    
        else:
            print("invalid account no")

sai=bank_1("sai",24,"sai@gmail.com",9988776655)

In [15]:
print(sai.__dict__)
print(bank_1.cust_no)
print(bank_1.cust_details)
sai.deposit()

{'c_name': 'sai', 'c_age': 24, 'c_email': 'sai@gmail.com', 'c_phone': 9988776655, 'c_bal': 500, 'acc_no': 1010202}
2
{1010201: <__main__.bank_1 object at 0x000002169CEF4290>, 1010202: <__main__.bank_1 object at 0x000002169CEEEA90>}
tran is success
Your currenr bal is : 8500

In [16]:
print(sai.__dict__)
sai.withdraw()

{'c_name': 'sai', 'c_age': 24, 'c_email': 'sai@gmail.com', 'c_phone': 9988776655, 'c_bal': 8500, 'acc_no': 1010202}
tran is successful
your withdrawl amount: 2000
your current bal is : 6500

In [17]:
priya.withdraw()

AttributeError: 'bank' object has no attribute 'withdraw'

In [22]:
class bank:
    bank_name='ICICI'
    IFSC='ICICI00123'
    address='Mysore'
    cust_no=0
    cust_details={}
    def __init__(self,name,age,bal=500):
        self.c_name=name 
        self.c_age=age
        self.c_bal=bal
        self.cust_no_inc()
        self.acc_no=int('101020'+str(self.cust_no)) 
        self.cust_details_inc(self.acc_no, self)
    @classmethod
    def cust_no_inc(cls):
       cls.cust_no+=1

    @classmethod

    def cust_details_inc(cls,key,value): 
        cls.cust_details[key]=value

    def deposit (self):
        n=int(input("enter the ACC_ID:"))
        if self.acc_no==n:
            amount=int(input("enter the Amount:"))
            self.c_bal+=amount
            print("tran is success")
            print("Your currenr bal is :",self.c_bal)
        else:
            print("invalid acc No")
priya=bank('priya',23)  

class bank_1(bank):
    ROI=7
    def __init__(self,name,age,email,phone,bal=500):
        # bank.__init__(self,name,age,bal)
        # super().__init__(name,age,bal)
        super(bank_1,self).__init__(name,age,bal)
        self.c_email=email
        self.c_phone=phone
        self.c_bal=bal
        self.cust_no_inc()
        self.acc_no=int('101020'+str(self.cust_no))
        self.cust_details_inc(self.acc_no,self)
    def withdraw(self):
        n=int(input("enter the ACC_No:"))
        if self.acc_no==n:
            amount=int(input("enter the amount:"))
            if amount<=self.c_bal-500:
                self.c_bal-=amount
                print("tran is successful")
                print("your withdrawl amount:",amount)
                print("your current bal is :",self.c_bal)
            else:
                print("insufficient amount")    
        else:
            print("invalid account no")

sai=bank_1("sai",24,"sai@gmail.com",9988776655)

In [23]:
sai.__dict__

{'c_name': 'sai',
 'c_age': 24,
 'c_bal': 500,
 'acc_no': 1010203,
 'c_email': 'sai@gmail.com',
 'c_phone': 9988776655}

MULTILEVEL INHERITANCE

* It is a phenomenon of deriving the properties from parent class to child class and child class to sub child class.

FLOWCHART:

class A           x properties                   x
class B           y properties                   y
class c           z properties                   z

SYNTAX :

class A :
   pass
class B(A):
   pass
class C(B):
   pass

In [29]:
# multilevel inheritance

class ver1:
    a=10
    def __init__(self):
        print("parent")
    def display(self):
        print("parent class",self.a)
v1=ver1()

class ver2(ver1):
    b=20
    def display(self):
        print("child class",self.a,self.b)
v2=ver2()

class ver3(ver2):
    c=30
    def display(self):
        print("sub child class",self.a,self.b,self.c)
v3=ver3()

parent
parent
parent

In [30]:
print(v1.a,v2.a,v3.a)
print(v2.b,v2.b)
print(v3.c)

10 10 10
20 20
30

In [32]:
v1.display()

parent class 10

In [33]:
v2.display()

child class 10 20

In [34]:
v3.display()

sub child class 10 20 30

In [35]:
# METHOD CHAINING

class ver1:
    a=10
    def __init__(self):
        print("parent")
    def display(self):
        print("parent class",self.a)
v1=ver1()

class ver2(ver1):
    b=20
    def display(self):
        super().display()
        print("child class",self.b)
v2=ver2()

class ver3(ver2):
    c=30
    def display(self):
        super().display()
        print("sub child class",self.c)
v3=ver3()

parent
parent
parent

In [36]:
v1.display()

parent class 10

In [37]:
v2.display()

parent class 10
child class 20

In [39]:
v3.display()

parent class 10
child class 20
sub child class 30