In [30]:
import sqlite3
def dbconnection(func):
    def inner(*args,**kwargs):
        dbconn=sqlite3.connect('student.db')
        cursor=dbconn.cursor()
        res=func(dbconn,cursor,*args,**kwargs,)
        print(cursor.rowcount,'record is affected')
        dbconn.commit()
        dbconn.close()
        return res
    return inner


@dbconnection
def create(dbconn,cursor):
    cursor.execute("create table student (id int,name varchar(20))")
create()

@dbconnection
def insert(dbconn,cursor):
    id=int(input("Enter the ID:"))
    name=input("Enter the Name:")
    val=[id,name]
    cursor.execute("insert into student(id,name) values(?,?)",val)
    print(cursor.rowcount,'record is affected')
#insert()    


@dbconnection
def select(dbconn,cursor):
    cursor.execute("select * from student")
    res=cursor.fetchall()
    for i in res:
        print(i)
select()        

@dbconnection
def update(dbconn,cursor):
    cursor.execute("update student set name=? where id=2",['seetha ram'])

    
@dbconnection
def delete(dbconn,cursor):
    cursor.execute("delete from student where id=3")
        
delete()

OperationalError: table student already exists

In [27]:
import sqlite3
def dbconnection(func):
    def inner(*args,**kwargs):
        dbconn=sqlite3.connect('Bank Account.db')
        cursor=dbconn.cursor()
        res=func(dbconn,cursor,*args,**kwargs,)
        print(cursor.rowcount,'record is affected')
        dbconn.commit()
        dbconn.close()
        return res
    return inner

@dbconnection
def id_inc


@dbconnection
def create(dbconn,cursor):
    cursor.execute("create table Bank Account (accountnum int,name varchar(20),email varchar(20),password varchar(10),phone int(10),ifsc varchar(10),balance int)")
#create()

@dbconnection
def insert(dbconn,cursor):
    accountnum =int(input("Enter the account number:"))
    name=input("Enter the Name:")
    email=input("Enter the email:")
    password=input("Enter the password:")
    phone=int(input("Enter the phone:"))
    ifsc=input("Enter the ifsc:")
    balance=int(input("Enter the balance:"))
    val=[accountnum,name,email,password,phone,ifsc,balance]
    cursor.execute("insert into Bank Account (accountnum,name,email,password,phone,ifsc,balance) values (?,?,?,?,?,?,?)",val)
   

insert()    
   
@dbconnection
def select(dbconn,cursor):
        cursor.execute("select * from Bank Account")
        res=cursor.fetchall()
        for i in res:
            print(i)
select()

OperationalError: no such table: BankAccount

In [24]:
import sqlite3
db=sqlite3.connect('details.db')
print(db)
cur=db.cursor()
cur.execute("select bal from dept where id=1")
res=cur.fetchone()
cur.execute("update dept set bal=? where id=1",[res[0]+1500])
db.commit()
db.close()

<sqlite3.Connection object at 0x0000023E5579F3D0>

OperationalError: no such table: dept

In [23]:
import sqlite3
db=sqlite3.connect('details.db')
print(db)
cur=db.cursor()
cur.execute("update dept set bal=(select bal from dept where id=1)+? where id=1 ",[int(input("enter the value:"))])
db.commit()
db.close()

<sqlite3.Connection object at 0x0000023E556C2D40>

OperationalError: no such table: dept